{% extends 'cohorts_standard.html' %}{% load humanize i18n journalize %}

{% block meta %}{% include "includes/cohorts_meta.html" with title=county.name_full_cohorts %}{% endblock meta %}

{% block title %}{{ county.name_full_cohorts }}{% endblock title %}
{% block parsely_title %}{{ county.name_full_cohorts }}{% endblock parsely_title %}

{% block extra_content %}
{% include "includes/reminder_bar.html" with title=county.name_full_cohorts %}
{% endblock extra_content %}

{% block breadcrumbs %}
<nav class="breadcrumbs">
  <a class="breadcrumbs__item" href="{% url 'landing' %}">Home</a> » <a class="breadcrumbs__item" href="{% url 'cohorts:landing' %}">{% trans "Higher Ed Outcomes" %}</a>
</nav>
{% endblock breadcrumbs %}

{% block content %}
<section class="row section">
  <div class="intro-block">
    <header class="page-header" id="js-reminder-bar-trigger">
      <h1 class="page-headline">{{ county.name_full_cohorts }}</h1>
    </header>
    <section class="row metrics">
      {% include 'includes/cohorts/metric.html' with title="Began 8th grade in " year=latest_cohort.year.start_year field=latest_cohort.enrolled_8th|intcomma field_label="students" %}
      {% include 'includes/cohorts/metric.html' with title="Graduated from high school" field=latest_cohort.graduated|intcomma extra_field=latest_cohort.percent_graduated|percentify subtext_field=latest_state_cohort.percent_graduated|percentify subtext_label="Statewide" %}
      {% include 'includes/cohorts/metric.html' with title="Enrolled in college" field=latest_cohort.total_enrolled|intcomma extra_field=latest_cohort.percent_enrolled_higher_education|percentify subtext_field=latest_state_cohort.percent_enrolled_higher_education|percentify subtext_label="Statewide" %}
      {% include 'includes/cohorts/metric.html' with title="Graduated from college" field=latest_cohort.total_degrees|intcomma extra_field=latest_cohort.percent_completed_higher_education|percentify subtext_field=latest_state_cohort.percent_completed_higher_education|percentify subtext_label="Statewide" %}
    </section>
    <section class="page-prose">
      {% include 'includes/cohorts/standard_prose.html' %}

      <p>Of the <strong>{{ latest_cohort.enrolled_8th|intcomma }} students</strong> in <strong>{{ county.name_full_cohorts }}</strong> who began 8th grade in <strong>{{ latest_cohort.year.start_year }}</strong>, <strong>{{ latest_cohort.percent_completed_higher_education|percentify }} percent</strong> received a certificate or degree from a Texas college or university within six years of their anticipated high school graduation date. For context, a 13-year-old student who started 8th grade in <strong>1996</strong> is about <strong>34</strong> years old; one who started 8th grade in <strong>{{ latest_cohort.year.start_year }}</strong> is now about <strong>25</strong>.</p>

      {% include 'includes/cohorts/prose_closer.html' %}
    </section>
  </div>
  <div class="contact-block">
    <div class="map map--district" id="map-container"></div>
  </div>
</section>

{% include "includes/ad_slot_leader.html" %}

<section class="metrics-block section">

<nav class="metrics-nav" id="metrics-nav">
  <ul class="metrics-jumper">
    <li class="metrics-jumper__item btn btn-link btn-link-hover js-metric-jumper" data-jumper="ethnicity">Ethnicity</li>
    <li class="metrics-jumper__item btn btn-gray-ghost btn-link-hover js-metric-jumper" data-jumper="gender">Gender</li>
    <li class="metrics-jumper__item btn btn-gray-ghost btn-link-hover js-metric-jumper" data-jumper="economic">Economic status</li>
  </ul>

  {% include "includes/ad_slot_sidebar.html" %}

  <div class="card">
    <p class="card-text"><span class="bold">N/A</span> &mdash; This statistic is hidden because it may make it possible to identify a student, or is unavailable.</p>
    <p class="card-text"><span class="bold">Other</span> &mdash; “Asian” and “American Indian” are grouped and classified as “Other.” When cohort sample sizes are too small, results by ethnicity are aggregated to protect privacy.</p>
  </div>
</nav>

  <div class="metrics-section" id="metrics-section">
    <section class="section js-metrics-block" id="ethnicity">
      <h2 class="page-section-header js-metrics-header">Ethnicity</h2>
      <section class="page-prose">
        <p>A breakdown, by ethnicity, of outcomes for cohorts of students who attended eighth grade in a Texas public school. You can see who graduated from high school, who enrolled in higher education and who completed a certificate or degree.</p>
      </section>
      <section class="cohort-section-table">
        {% include 'includes/cohorts/ethnicity_table.html' with data=latest_data latest_cohort=latest_cohort %}
      </section>
      <section class="cohort-section-charts">
        <div id="ethnicity-status-charts" class="cohorts-charts"></div>
      </section>
    </section>
    <section class="section js-metrics-block" id="gender">
      <h2 class="page-section-header js-metrics-header">Gender</h2>
      <section class="page-prose">
        <p>A breakdown, by gender, of outcomes for cohorts of students who attended eighth grade in a Texas public school. You can see who graduated from high school, who enrolled in higher education and who completed a certificate or degree.</p>
      </section>
      <section class="cohort-section-table">
        {% include 'includes/cohorts/gender_table.html' with data=latest_data latest_cohort=latest_cohort %}
      </section>
      <section class="cohort-section-charts">
        <div id="gender-status-charts" class="cohorts-charts"></div>
      </section>
    </section>
    <section class="section js-metrics-block" id="economic">
      <h2 class="page-section-header js-metrics-header">Economic status</h2>
      <section class="page-prose">
        <p>A breakdown, by economic status, of outcomes for cohorts of students who attended eighth grade in a Texas public school. You can see who graduated from high school, who enrolled in higher education and who completed a certificate or degree.</p>
      </section>
      <section class="cohort-section-table">
        {% include 'includes/cohorts/economic_table.html' with data=latest_data latest_cohort=latest_cohort %}
      </section>
      <section class="cohort-section-charts">
        <div id="economic-status-charts" class="cohorts-charts"></div>
      </section>
    </section>
  </div>

</section>

{% comment %}
<section class="row section">
  <table>
    <caption>Overall</caption>
    <thead>
      <tr>
        <th scope="col">Year</th>
        <th scope="col">Enrolled</th>
        <th scope="col">Completed</th>
      </tr>
    </thead>
    <tbody>
      {% for cohort in cohorts_overall %}
      <tr>
        <th scope="row">{{ cohort.year.start_year }}</th>
        <td>{{ cohort.total_enrolled|intcomma }} ({{ cohort.percent_enrolled_higher_education|percentify }}%)</td>
        <td>{{ cohort.total_degrees|intcomma }} ({{ cohort.percent_completed_higher_education|percentify }}%)</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</section>
{% endcomment %}

{% endblock content %}

{% block data_script %}
{{ block.super }}
<script>window.SHAPE = {"type": "Feature", "geometry": {{ county.shape_simple.geojson|safe|default:'null' }}};</script>
</script>
{% endblock data_script %}
