[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==3.1.12"
"dj-database-url" = "*"
"django-localflavor" = "*"
"psycopg2" = "*"
"unicode-slugify" = "*"
gunicorn = "*"
whitenoise = "*"
sentry-sdk = "*"
django-phonenumber-field = "*"
phonenumberslite = "*"
requests = "*"
django-postgres-copy = "*"
six = "*"

[dev-packages]
"django-debug-toolbar" = "*"
"django-extensions" = "*"
awscli = "*"
ipython = "*"
"flake8" = "*"
isort = "*"
black = "==19.3b0"
pipenv-to-requirements = "*"
