[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"dj-database-url" = "*"
"django-localflavor" = "*"
"psycopg2" = "*"
"unicode-slugify" = "*"
gunicorn = "*"
sentry-sdk = "*"
django-phonenumber-field = "*"
phonenumberslite = "*"
requests = "*"
django-postgres-copy = "*"
six = "*"
django = "==3.1.14"
psycopg2-binary = "==2.9.9"
asgiref = "==3.5.2"
sqlparse = "==0.4.2"
whitenoise = "==6.2.0"

[dev-packages]
"django-debug-toolbar" = "*"
"django-extensions" = "*"
awscli = "*"
ipython = "*"
"flake8" = "*"
isort = "*"
black = "==19.3b0"
pipenv-to-requirements = "*"
