.btn {
  @include font-size(16);
  border: .0625rem solid transparent;
  cursor: pointer;
  display: inline-block;
  line-height: 1.5;
  margin: 0;
  padding: .375rem 1rem;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;

  &--primary {
    background-color: darken($color-secondary, 30%);
    border-color: darken($color-secondary, 30%);
    color: $color-white;
  }

  &--ghost {
    background-color: transparent;
    border: .125rem solid rgb(255, 99, 71);

    &:hover {
      background-color: rgb(255, 99, 71);
    }
  }
}
