.header {
  text-align: center;

  &__logo {
    padding: .625rem;
  }

  &__title {
    @include font-size(28);
    background-color: darken($color-secondary, 35%);
    font-family: Georgia, serif;
    padding-bottom: 1rem;
    padding-top: 1rem;
  }

  &__link {
    color: $color-white;
    text-decoration: none;
  }
}
