.prose {
  @include font-size(18);
  color: $color-bodytext-black;

  > p {
    @extend %content-section;
    font-family: $font-georgia;
    line-height: 1.5;
    margin-bottom: 1rem;
    margin-left: auto;
    margin-right: auto;
    max-width: 40.625rem;
  }

  &__credit {
    @include font-size(16);
    color: lighten($color-bodytext-black, 30%);
    font-style: italic;
  }
}
