.search-bar {
  background-color: $color-secondary;
  margin-bottom: 1.5rem;
  padding: 1rem;
  text-align: center;
}

.search-form {
  @include clearfix;

  &__input {
    @include font-size(16);
    border: .0625rem solid transparent;
    display: inline-block;
    line-height: 1.5;
    margin: 0;
    padding: .375rem .75rem;
    vertical-align: middle;
    width: 50%;
  }
}
