.table {
  width: 100%;

  &--striped {
    tbody tr:nth-of-type(2n+1) {
      background-color: $color-background-gray;
    }
  }

  thead th {
    border-bottom: 2px solid darken($color-background-gray, 20%);
    border-top: 0;
    font-weight: 800;
    vertical-align: bottom;
  }

  th,
  td {
    border-top: 1px solid darken($color-background-gray, 10%);
    padding: .5rem;
    text-align: left;
    vertical-align: top;
  }
}

.table__cell--numeric.table__cell--numeric {
  text-align: right;
}
