{% extends 'standard.html' %}{% load humanize i18n static %}

{% block title %}{{ state.get_name_display }}{% endblock title %}

{% block breadcrumbs %}
<nav class="breadcrumbs">
  <a class="breadcrumbs__item" href="{% url 'landing' %}">Home</a>
</nav>
{% endblock breadcrumbs %}

{% block content %}

<section class="row section">
<div class="intro-block">
<header class="page-header">
  <h1 class="page-headline">{% blocktrans with state_name=state.get_name_display %}State of {{ state_name }}{% endblocktrans %}</h1>
</header>

{% include "includes/intro_metrics.html" with stat=stat only %}

<section class="page-prose">
  {% lorem 1 p %}
</section>
</div>
<div class="contact-block">
<div class="map map-state" id="map-state"></div>

<section class="card">
  <h2 class="card-header">{% trans "Contact information" %}</h2>
</section>

</div>
</section>

<section class="row">

<nav class="col-3">
  <ul class="metrics-jumper">
    <li class="metrics-jumper__item btn btn-dark">{% trans "Demographics" %}<span class="metrics-jumper__arrow"></li></span>
    <li class="metrics-jumper__item btn btn-dark">{% trans "Academics" %}</li>
    <li class="metrics-jumper__item btn btn-dark">{% trans "Staff" %}</li>
  </ul>
</nav>

<div class="col-9">

<section>
<h2 class="page-section-header">{% trans "Demographics" %}</h2>

<div class="page-prose">
  <p>{% lorem 25 w %}.</p>
</div>

{% include "includes/demographic_metrics.html" with stat=stat only %}

</section>

<section>
<h2 class="page-section-header">{% trans "Academics" %}</h2>

<div class="page-prose">
  <p>{% lorem 25 w %}.</p>
</div>

</section>

<section>
<h2 class="page-section-header">{% trans "Staff" %}</h2>

<div class="page-prose">
  <p>{% lorem 25 w %}.</p>
</div>

{% include "includes/staff_metrics.html" with stat=stat only %}

</section>

</div>

{% endblock content %}

{% block extra_script %}
<script>SHAPE = {"type": "Feature", "geometry": {{ state.shape.geojson|safe|default:'null' }}};</script>
<script src="//maps.googleapis.com/maps/api/js?key=AIzaSyBrkB4T_tbnnFklJsJ_1jk8JwEpzhOYyKc"></script>
<script src="{% static 'scripts/state.js' %}"></script>
{% endblock extra_script %}
