{% extends 'standard.html' %}{% load humanize i18n %}{% load static from staticfiles %}

{% block title %}{{ state.get_name_display }}{% endblock title %}

{% block extra_content %}
{% include "includes/reminder_bar.html" with title=state.get_name_display year=stat.year.name %}
{% endblock extra_content %}

{% block breadcrumbs %}
<nav class="breadcrumbs">
  <a class="breadcrumbs__item" href="{% url 'landing' %}">Home</a>
</nav>
{% endblock breadcrumbs %}

{% block content %}

<section class="row section">
<div class="intro-block">
<header class="page-header" id="js-reminder-bar-trigger">
  <h1 class="page-headline">State of {{ state.get_name_display }}</h1>
</header>

{% include "includes/intro_metrics.html" with stat=stat only %}

<section class="page-prose">
  <p>As of the <strong>{{ stat.year.name }} school year</strong>, there were <strong>{{ stat.all_students_count|intcomma }} students</strong> in {{ state.get_name_display }}. <strong>{{ stat.at_risk_percent|floatformat }}%</strong> of students were considered at risk of dropping out of school, and <strong>{{ stat.bilingual_esl_percent|floatformat }}%</strong> of students were enrolled in bilingual and English language learning programs.</p>

  <p>An average teacher's salary was <strong>${{ stat.teacher_avg_base_salary|floatformat:"0"|intcomma }}</strong>. On average, teachers had <strong>{{ stat.teacher_avg_experience|floatformat }} years</strong> of experience on the job.</p>

  <p>The average SAT score in {{ state.get_name_display }} was <strong>{{ stat.avg_sat_score_all_students }}</strong>, and the average ACT score was <strong>{{ stat.avg_act_score_all_students }}</strong>. In the {{ stat.year.name }} class, <strong>{{ stat.four_year_graduate_all_students_percent|floatformat }}%</strong> of students received their high school diploma on time or earlier. The dropout rate was <strong>{{ stat.dropout_all_students_percent|floatformat }}%</strong>.</p>
</section>
</div>
<div class="contact-block">
<div class="map map-state" id="map-state"></div>

<section class="card">
  <h2 class="card-header">Contact information</h2>
  {% if state.commissioner_of %}
  <h3 class="card-title">{{ state.commissioner_of.role }}</h3>
  <ul class="card-list">
    <li class="card-list-item">{{ state.commissioner_of.name }}</li>
    <li class="card-list-item">{{ state.commissioner_of.email|urlize }}</li>
    <li class="card-list-item"><a href="tel://{{ state.commissioner_of.phone_number }}">{{ state.commissioner_of.phone_number }}</a></li>
  </ul>
  {% endif %}
</section>

</div>
</section>

{% include "includes/ad_slot_leader.html" %}

{% include "includes/metrics_block.html" with stat=stat include_postsecondary=True only %}

{% include "includes/story_grid_insert.html" %}

{% endblock content %}

{% block extra_script %}
{{ block.super }}
<script>SHAPE = {"type": "Feature", "geometry": {{ state.shape.geojson|safe|default:'null' }}};</script>
<script src="{% static 'scripts/state.js' %}"></script>
{% endblock extra_script %}
