{% extends 'standard.html' %}{% load humanize i18n journalize webpacker %}{% load static %}

{% block meta %}{% include "includes/meta.html" with title=state.get_name_display %}{% endblock meta %}

{% block title %}{{ state.get_name_display }}{% endblock title %}
{% block parsely_title %}{{ state.get_name_display }}{% endblock parsely_title %}

{% block extra_head %}
{% include "includes/mapbox.html" %}
{% include "includes/google_survey.html" %}
{% endblock extra_head %}

{% block extra_content %}
{% include "includes/reminder_bar.html" with title=state.get_name_display year=stat.year.name %}
{% endblock extra_content %}

{% block breadcrumbs %}
<nav class="breadcrumbs">
  <a class="breadcrumbs__item" href="{% url 'landing' %}">Home</a>
</nav>
{% endblock breadcrumbs %}

{% block content %}

<section class="row section">
<div class="intro-block">
<header class="page-header" id="js-reminder-bar-trigger">
  <h1 class="page-headline">State of {{ state.get_name_display }}</h1>
</header>

{% include "includes/intro_metrics.html" with stat=stat is_state=True only %}

<section class="page-prose">
  <p>As of the <strong>{{ stat.year.name }} school year</strong>, there were <strong>{{ stat.all_students_count|intcomma }} students</strong> in {{ state.get_name_display }}. <strong>{{ stat.at_risk_percent|floatformat }}%</strong> of students were considered at risk of dropping out of school, and <strong>{{ stat.bilingual_esl_percent|floatformat }}%</strong> of students were enrolled in bilingual and English language learning programs.</p>

  <p>In the Class of {{ stat.year.start_year }}, <strong>{{ stat.four_year_graduate_all_students_percent|floatformat }}%</strong> of students received their high school diploma on time or earlier. 
  The dropout rate for students in grades 9-12 was <strong>{{ stat.dropout_all_students_percent|floatformat }}%</strong> during the <strong>{{ stat.year.previous_year }}</strong> school year.</p>

  <p>The average SAT score in {{ state.get_name_display }} was <strong>{{ stat.avg_sat_score_all_students }}</strong> for <strong>{{ stat.year.previous_year }}</strong> graduates, and the average ACT score was <strong>{{ stat.avg_act_score_all_students }}</strong>.</p>

  <p>As of the <strong>{{ stat.year.name }}</strong> school year, an average teacher's salary was <strong>${{ stat.teacher_avg_base_salary|floatformat:"0"|intcomma }}</strong>. On average, teachers had <strong>{{ stat.teacher_avg_experience|floatformat }} years</strong> of experience on the job.</p>
</section>
</div>
<div class="contact-block">
<div class="map map--state" id="map-state"></div>

<section class="card">
  <h2 class="card-header">Contact information</h2>
  <div class="row">
    <div class="col-6">
      <h3 class="card-title">Website</h3>
      <p class="card-text card-website"><a href="http://tea.texas.gov/">http://tea.texas.gov/</a></p>
    </div>
    {% if state.commissioner_of %}
    <div class="col-6">
      <h3 class="card-title">{{ state.commissioner_of.role }}</h3>
      <ul class="card-list">
        <li class="card-list-item">{{ state.commissioner_of.name }}</li>
        {% if state.commissioner_of.email %}
        <li class="card-list-item card-website">{{ state.commissioner_of.email|urlize }}</li>
        {% endif %}
        {% if state.commissioner_of.phone_number %}
        <li class="card-list-item"><span class="icon-phone"></span> <a href="tel://{{ state.commissioner_of.phone_number }}">{{ state.commissioner_of.phone_number.as_national }}</a></li>
        {% endif %}
      </ul>
    </div>
    {% endif %}
  </div>
  <h2 class="card-header outcomes-header"><a href="{% url 'cohorts:landing' %}">Higher Ed Outcomes</a></h2>
  <div class="row">
    <div class="col-12">
      <p class="outcomes-description"><strong><a href="{% url 'cohorts:states' state.slug %}">Statewide data</a></strong> is included in The Tribune's <a href="{% url 'cohorts:landing' %}">Higher Ed Outcomes</a> app. Students who started eighth grade in <strong>{{ latest_state_cohort.year.start_year }}</strong> had a college graduation rate of <strong>{{ latest_state_cohort.percent_completed_higher_education|percentify }}%</strong>. <a href="{% url 'cohorts:states' state.slug %}">View a more comprehensive breakdown</a> of higher education outcomes in <strong>Texas</strong>.</p>
    </div>
  </div>
</section>

</div>
</section>

{% include "includes/ad_slot_leader.html" %}

{% include "includes/metrics_block.html" with stat=stat include_postsecondary=True is_state=True only %}

{% include "includes/story_grid_insert.html" %}

{% endblock content %}

{% block extra_script %}
{{ state.as_geojson|json_script:"shape" }}
{% javascript_pack 'state' %}
{% endblock extra_script %}
