{% extends 'standard.html' %}{% load i18n %}

{% block title %}{% trans "School Districts" %}{% endblock title %}

{% block breadcrumbs %}
<section class="breadcrumbs">
  <a class="breadcrumbs__item" href="{% url 'landing' %}">{% trans "Home" %}</a>
</section>
{% endblock breadcrumbs %}

{% block content %}
{{ block.super }}

<div class="ad-slot">
  <div class="ad-slot-banner">
    <img src="https://placehold.it/728x90">
  </div>
  <div class="ad-slot-box">
    <img src="https://placehold.it/300x250">
  </div>
</div>

<section class="section">

<h1 class="page-section-header">{% trans "All Districts" %}</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>{% trans "District" %}</th>
      <th>{% trans "Accountability Rating" %}</th>
      <th>{% trans "City" %}</th>
    </tr>
  </thead>
  <tbody>
  {% for district in district_list %}
    <tr>
      <td><a href="{{ district.get_absolute_url }}">{{ district.name }}</a></td>
      <td>{{ district.get_accountability_rating_display }}</td>
      <td>{{ district.location }}</td>
    </tr>
  {% endfor %}
  </tbody>
</table>

</section>

{% include "includes/story_grid_insert.html" %}

{% endblock content %}
