{% extends 'standard.html' %}

{% block title %}School Districts{% endblock title %}

{% block breadcrumbs %}
<section class="breadcrumbs">
  <a class="breadcrumbs__item" href="{% url 'landing' %}">Home</a>
</section>
{% endblock breadcrumbs %}

{% block content %}
{{ block.super }}

<h1 class="page-header">All Districts</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>District</th>
      <th>City</th>
      <th>County</th>
    </tr>
  </thead>
  <tbody>
  {% for district in district_list %}
    <tr>
      <td><a href="{{ district.get_absolute_url }}">{{ district.name }}</a></td>
      <td>{{ district.location }}</td>
      <td>{{ district.county.name }}</td>
    </tr>
  {% endfor %}
  </tbody>
</table>
{% endblock content %}
