{% extends 'standard.html' %}{% load humanize i18n stats_tags journalize webpacker %}{% load static from staticfiles %}

{% block meta %}{% include "includes/meta.html" with title=district.name %}{% endblock meta %}

{% block title %}{{ district.name }}{% endblock title %}
{% block parsely_title %}{{ district.name }}{% endblock parsely_title %}

{% block extra_head %}
{% include "includes/mapbox.html" %}
{% endblock extra_head %}

{% block extra_content %}
{% include "includes/reminder_bar.html" with title=district.name year=stat.year.name %}
{% endblock extra_content %}

{% block breadcrumbs %}
<nav class="breadcrumbs">
  <a class="breadcrumbs__item" href="{% url 'landing' %}">Home</a> » <a class="breadcrumbs__item" href="{% url 'districts:list' %}">{% trans "School Districts" %}</a>
</nav>
{% endblock breadcrumbs %}

{% block content %}

<section class="row section">
<div class="intro-block">
<header class="page-header" id="js-reminder-bar-trigger">
  <h1 class="page-headline">{{ district.name }}{% if district.charter %}<span class="is-charter">Charter</span>{% endif %}</h1>
  <p class="page-subtext">{{ district.location }}</p>
</header>

{% include "includes/intro_metrics.html" with stat=stat state=state only %}

<section class="page-prose">
  <p><strong>{{ district.name }}</strong> is a {% if district.charter %}charter {% endif %}school district in <strong>{{ district.location|default:"Texas" }}</strong>. As of the <strong>{{ stat.year.name }} school year</strong>, it had <strong>{{ stat.all_students_count|intcomma }} students</strong>. The school received an accountability rating of <strong>{{ stat.get_accountability_rating_display|capfirst }}</strong>. <strong>{{ stat.at_risk_percent|floatformat }}%</strong> of students were considered at risk of dropping out of school. <strong>{{ stat.bilingual_esl_percent|floatformat }}%</strong> of students were enrolled in bilingual and English language learning programs.</p>

  <p>{% if stat.teacher_avg_base_salary %}An average teacher's salary was <strong>${{ stat.teacher_avg_base_salary|floatformat:"0"|intcomma }}</strong>, which is <strong>${{ stat.teacher_avg_base_salary|subtract:state.teacher_avg_base_salary|absolute|floatformat:"0"|intcomma }} {% if stat.teacher_avg_base_salary|subtract:state.teacher_avg_base_salary < 0 %}less{% else %}more{% endif %}</strong> than the state average.
  {% endif %}

  {% if stat.teacher_avg_experience %}
  On average, teachers had <strong>{{ stat.teacher_avg_experience|floatformat }} years</strong> of experience.
  {% endif %}

  {% if stat.avg_sat_score_all_students >= 0 %}
  The average SAT score at {{ district.name }} was <strong>{{ stat.avg_sat_score_all_students }}</strong>.
  {% endif %}

  {% if stat.avg_act_score_all_students >= 0 %}
  The average ACT score was <strong>{{ stat.avg_act_score_all_students }}</strong>.
  {% endif %}

  {% if stat.four_year_graduate_all_students_percent and stat.four_year_graduate_all_students_percent >= 0 %}
  In the Class of {{ stat.year.start_year }}, <strong>{{ stat.four_year_graduate_all_students_percent|floatformat }}%</strong> of students received their high school diplomas on time or earlier.
  {% endif %}

  {% if stat.dropout_all_students_percent and stat.dropout_all_students_percent >= 0 %}
  The dropout rate was <strong>{{ stat.dropout_all_students_percent|floatformat }}%</strong>.{% endif %}</p>
</section>
</div>
<div class="contact-block">
<div class="map map--district" id="map-district">

</div>
<div class="map-tooltip" id="map-tooltip"></div>

<a class="btn btn-link btn-block map-view-button" href="#campuses">View Campus List</a>

<section class="card">
  <h2 class="card-header">Contact information</h2>
  <div class="row">
    {% if district.website %}
    <div class="col-6">
      <h3 class="card-title">Website</h3>
      <p class="card-text card-website">{{ district.website|urlize }}</p>
    </div>
    {% endif %}
    {% if district.superintendent_of %}
    <div class="col-6">
      <h3 class="card-title">{{ district.superintendent_of.role|title }}</h3>
      <ul class="card-list">
        <li class="card-list-item">{{ district.superintendent_of.name }}</li>
        {% if district.superintendent_of.email %}
        <li class="card-list-item card-website">{{ district.superintendent_of.email|urlize }}</li>
        {% endif %}
        {% if district.superintendent_of.phone_number %}
        <li class="card-list-item"><span class="icon-phone"></span> <a href="tel://{{ district.superintendent_of.phone_number }}">{{ district.superintendent_of.phone_number.as_national }}</a></li>
        {% endif %}
      </ul>
    </div>
    {% endif %}
  </div>
  <h2 class="card-header outcomes-header"><a href="{% url 'cohorts:landing' %}">Higher Ed Outcomes</a></h2>
  <div class="row">
    <div class="col-12">
      <p class="outcomes-description">Students in <strong>{{ district.name }}</strong> are part of the Texas Education Agency’s <strong>{{ district.region.region_name }}</strong>. Students who started eighth grade in <strong>{{ latest_county_cohort.year.start_year }}</strong> in this region had a college graduation rate of <strong>{{ latest_region_cohort.percent_completed_higher_education|percentify }} percent</strong>. <a href="{% url 'cohorts:regions' district.region.region_id %}">View a more comprehensive breakdown</a> of the higher ed outcomes in <strong>{{ district.region.region_name }}</strong>.</p>
    </div>
  </div>
</section>
</div>
</section>

{% include "includes/ad_slot_leader.html" %}

{% include "includes/metrics_block.html" with stat=stat state=state include_postsecondary=True only %}

<h2 class="page-section-header">All campuses<span class="anchor" id="campuses"></span></h2>
<div class="section row">
  {% regroup district.campuses.all|dictsort:"school_type" by get_school_type_display as campus_list  %}
  {% for campus in campus_list %}
    <div class="campus-list-container js-campus-list-group">
    <h3 class="campus-list-title">{{ campus.grouper }}s</h3>
    <ul class="card-list">
      {% for school in campus.list %}
      <li class="campus-list-item"><a href="{{ school.get_absolute_url }}">{{ school.name }}</a></li>
      {% endfor %}
    </ul>
    {% if campus.list|length > 10 %}<button class="btn btn-dark-ghost btn-thin btn-block">+ More</button>{% endif %}
  </div>
  {% endfor %}
</div>

{% include "includes/story_grid_insert.html" %}

{% endblock content %}

{% block extra_script %}
{{ district.as_geojson|json_script:"shape" }}
{{ district.campus_geojson|json_script:"coords" }}
{% javascript_pack 'district' %}
{% endblock extra_script %}
