.campus-list-container {
  @include create-column(12);
  margin-bottom: $gutter;

  @include mq($from: mobile) {
    @include create-column(6);
  }

  @include mq($from: tablet) {
    @include create-column(3);
    margin-bottom: 0;
  }
}

.campus-list-title {
  font-size: font-size(16);
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-weight: 700;
  margin-bottom: $gutter-half;
}

.campus-list-item {
  @include font-size(16);
  line-height: 1.5;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  margin-bottom: $gutter-quarter;

  &:nth-child(n+10) {
    display: none;
  }

  &.campus-list-item--display {
    display: block;
  }
}

@include mq($from: mobile) {
  .campus-list-item {
    @include font-size(14);
    line-height: 1.3;
    padding: 0;
  }
}

.campus-list-more {
  text-align: center;
  margin-top: $gutter-half;
  padding-bottom: $gutter-quarter;
  padding-top: $gutter-quarter;
}
