// cohorts landing
.region-list {
  column-count: 2;

  @include mq($from: tablet) {
    column-count: 2;
  }
}

.county-list {
  column-count: 2;

  @include mq($from: tablet) {
    column-count: 5;
  }
}

.list-container {
  font-size: 18px;
  padding-top: $gutter-half;
  padding-bottom: $gutter-half;

  @include mq($from: tablet) {
    font-size: 16px;
    padding-top: 0;
    padding-bottom: 0;
  }
}

.list-item {
  line-height: 1.5;
}

// cohorts charts
.cohorts-charts {
  width: 100%;
}

.chart-grid {
  display: flex;
  flex-wrap: wrap;
}

.chart-container {
  flex: 0 0 100%;
  margin-bottom: $gutter;
  max-width: 100%;
  padding-left: $gutter-half;
  padding-right: $gutter-half;

  @include mq($from: metrics-flip) {
    flex: 0 0 50%;
    max-width: 50%;
  }
}

.axis {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-size: .75rem;

  text {
    fill: hsl(0, 0%, 13%);
  }
}

.axis--x .domain,
.axis--y .domain {
  display: none;
}

.area {
  stroke-opacity: 0.2;
  fill-opacity: 0.7;
}

.area--one {
  fill: $color-button;
  stroke: none;
}

.area--two {
  fill: $color-button-dark;
  stroke: none;
}

.area--three {
  fill: $color-button-darker;
  stroke: none;
}

.tick line {
  stroke: #000;
  stroke-opacity: 0.1;
}

.legend {
  margin-bottom: $gutter;
  text-align: center;
}

.legend__cell {
  display: inline;
  font-size: .875rem;
}

.legend__cell + .legend__cell {
  margin-left: $gutter-half;
}

.dot {
  border-radius: 4px;
  display: inline-block;
  height: 8px;
  margin-right: $gutter-quarter;
  width: 8px;
}

.dot--graduated {
  background-color: $color-button;
}

.dot--enrolled {
  background-color: $color-button-dark;
}

.dot--completed {
  background-color: $color-button-darker;
}

.cohorts-announcement {
  margin-bottom: $gutter;
  padding-left: $gutter;
  padding-right: $gutter;
  text-align: center;
}

.cohorts-announcement__text {
  font-size: 1rem;
  font-style: italic;
  line-height: 1.3;

  > a {
    @include default-link;
  }
}

.cohorts-announcement__text-bold {
  font-style: normal;
  font-weight: 700;
}

.cohort-section-table {
  margin-bottom: $gutter-double;
  max-width: 36rem;
}

.map-tooltip {
  text-align: left;
  display: none;
  font-family: $font-sans-serif;
  font-size: .875rem;
  padding: $gutter-quarter $gutter-half;
  border: 1px solid rgba(193, 193, 193, 0.8);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.12);
  background: rgba(255,255,255,0.9);
  position: absolute;
  // right: $gutter-half;
  // top: $gutter-half;
  z-index: 10000000;
  pointer-events: none;
}

.map-tooltip--visible {
  display: inline-block;
}

.blank-chart {
  align-items: center;
  display: flex;
  justify-content: center;
}
