.map {
  background-color: $color-gray;
  margin-left: auto;
  margin-right: auto;
  width: 100%;

  @include mq($from: tablet) {
    //height: 200px;
  }
}

.map-caption {
  font-size: 13px;
  margin-top: .25rem;
  margin-bottom: $gutter;
}

#map-campus {
  height: 250px;
}

.map--district {
  height: 250px;
}

.map--state {
  height: 250px;
}

.map--full-region {
  height: 400px;
}

.map-view-button {
  margin-bottom: $gutter;
}
