.search-bar {
  background-color: $color-secondary;
  margin-bottom: $gutter;
  padding-bottom: $gutter;
  padding-top: $gutter;
}

.search-form {
  width: 100%;

  @include mq($from: tablet) {
    margin: 0 auto;
    width: 30rem;
  }
}

.search-input-group {
  border-collapse: separate;
  display: table;
  width: 100%;
}

.search-form-label {
  @include font-size(16);
  color: $color-white;
  display: inline-block;
  line-height: 1;
  margin-bottom: $gutter-quarter;

  @include mq($from: tablet) {

  }
}

.search-form-input {
  @include font-size(16);
  border: .125rem solid transparent;
  border-radius: 0;
  display: table-cell;
  font-family: $font-soleil;
  line-height: 1.6;
  padding: .375rem .75rem;
  vertical-align: middle;
  width: 100%;

  &:focus {
    border-color: $color-link;
    outline: 0;
  }
}

.search-form-submit {
  display: table-cell;
  padding-left: 1rem;
  vertical-align: middle;
  white-space: nowrap;
  width: 1%;
}

.search-card {
  @include create-column(12);

  @include mq($from: tablet) {
    @include create-column(4);
  }
}
