.btn {
  @include font-size(16);
  border: .0625rem solid transparent;
  cursor: pointer;
  display: inline-block;
  font-family: $font-soleil;
  font-weight: 300;
  line-height: 1.5;
  margin: 0;
  padding: .375rem 1rem;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;

  &-primary {
    background-color: $color-button;
    border-color: $color-button;
    color: $color-text-inverse;

    &:hover {
      background-color: darken($color-button, 5%);
      border-color: darken($color-button, 5%);
    }
  }
}
