.card {
  background-color: $color-gray-lightest;
  // border: 2px solid $color-gray-light;
  margin-bottom: $gutter;
  padding: $gutter-half;
  width: 100%;
}

.card-header {
  @include font-size(18);
  margin-bottom: $gutter-half;
}

.card-title {
  @include font-size(14);
  font-weight: 800;
  margin-bottom: $gutter-quarter;
}

.card-text {
  @include font-size(14);
  font-weight: 300;
  margin-bottom: $gutter-half;
}

.card-list {
  margin-bottom: $gutter;

  &:last-child {
    margin-bottom: 0;
  }
}

.card-list-item {
  @include font-size(14);
  font-weight: 300;
  margin-bottom: $gutter-quarter;

  &:last-child {
    margin-bottom: 0;
  }
}

.card-address {
  @include font-size(14);
  font-weight: 300;
  line-height: 1.1;
  margin-bottom: $gutter-half;
}
