.card {
  margin-bottom: $gutter;
  width: 100%;
}

.card-bordered {
  border: 2px solid $color-gray-light;
  margin: $gutter-quarter;
}

.card-header {
  @include font-size(18);
  border-bottom: 1px solid $color-gray;
  margin-bottom: $gutter-half;
  padding-bottom: $gutter-half;
}

.card-title {
  @include font-size(14);
  font-weight: 700;
  margin-bottom: $gutter-quarter;
}

.card-text {
  @include font-size(14);
  font-weight: 300;
  line-height: 1.3;
  margin-bottom: $gutter-half;
}

.card-list {
  margin-bottom: $gutter;

  &:last-child {
    margin-bottom: 0;
  }
}

.card-list-item {
  @include font-size(14);
  font-weight: 300;
  line-height: 1.3;
}

.card-website {
  word-wrap: break-word;
}

.card-address {
  @include font-size(14);
  font-weight: 300;
  line-height: 1.3;
  margin-bottom: $gutter-half;
}

.outcomes-header {
  margin-top: $gutter-half
}

.outcomes-description {
  @include font-size(14);
  font-weight: inherit;
  line-height: 1.5;
  margin-bottom: $gutter-half;
}

.outcomes-list {
  list-style-type: disc;
  padding-left: $gutter;
}
