.page-header {
  margin-bottom: $gutter-double;
}

.page-headline {
  @include font-size(28);
  font-family: $font-soleil;
  margin-bottom: $gutter-half;
}

.page-subtext {
  @include font-size(16);
  color: $color-text-accent;
  font-family: $font-soleil;
  font-weight: 300;
  margin-bottom: $gutter-quarter;

  &:last-child {
    margin-bottom: 0;
  }
}

.page-sub-header {
  @include font-size(20);
  font-family: $font-soleil;
  margin-bottom: $gutter-half;
}

.page-prose {
  > p {
    @include font-size(16);
    font-family: $font-soleil;
    line-height: 1.5;
    margin-bottom: $gutter-half;
  }
}
