.page-header {
  margin-bottom: $gutter;
}

.page-headline {
  @include font-size(30);
  font-family: $font-soleil;
  line-height: 1.2;
  margin-bottom: $gutter-quarter;
}

.page-subtext {
  @include font-size(16);
  color: $color-text-accent;
  font-family: $font-soleil;
  font-weight: 300;
  margin-bottom: $gutter-quarter;

  &:last-child {
    margin-bottom: 0;
  }
}

.page-section-header {
  @include font-size(24);
  border-bottom: 2px solid $color-gray;
  font-family: $font-soleil;
  margin-bottom: $gutter;
  padding-bottom: $gutter-half;
  position: relative;

  @include mq($from: tablet) {
    @include font-size(24);
  }
}

.page-section-subheader {
  @include font-size(18);
  font-family: $font-soleil;
  font-weight: 700;
  margin-bottom: $gutter;
}

.page-prose {
  margin-bottom: $gutter;

  > p {
    @include font-size(16);
    font-family: $font-soleil;
    line-height: 1.5;
    margin-bottom: $gutter-half;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .about & {
    max-width: 37.5rem;
  }

  strong {
    font-weight: 700;
  }
}

.bold {
  font-weight: 700;
}

.anchor {
  display: block;
  height: 0;
  left: 0;
  position: absolute;
  top: -50px;
  visibility: hidden;
  width: 0;
  z-index: -1;
}

.is-charter {
  @include font-size(12);
  background-color: $color-secondary;
  border-radius: 4px;
  color: $color-text-inverse;
  margin-left: $gutter-half;
  padding: $gutter-quarter;
  vertical-align: middle;
}

.tea-pullout {
  @extend .page-prose;
  background-color: $color-gray-light;
  font-style: italic;
  // margin-left: $gutter-quarter;
  padding: $gutter-half;

  > ul {
    list-style-type: disc;
    line-height: 1.5;
    margin-left: $gutter;
  }

  .source {
    @include font-size(12);
    margin-top: $gutter-half;
  }
}
