// Colors
$color-primary: hsl(0, 0%, 13%);
$color-secondary: lighten($color-primary, 20%);

$color-gray: hsl(0, 0%, 76%);
$color-gray-light: hsl(0, 0%, 96%);
$color-white: hsl(0, 0%, 100%);

$color-text: $color-primary;
$color-text-accent: $color-secondary;
$color-text-inverse: $color-white;
$color-link: hsl(194, 90%, 35%);
$color-button: hsl(177, 91%, 37%);

// Spacing
$gutter: 1.25rem;

$gutter-double: $gutter * 2;
$gutter-quad: $gutter * 4;

$gutter-half: $gutter / 2;
$gutter-quarter: $gutter / 4;

// Grid

$grid-columns: 12;
$grid-gutter: 1.25rem;

// Typography
$font-size-base: 16;

$font-sans-serif: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-serif: Georgia, 'Times New Roman', Times, serif;
$font-livory: 'livory', $font-serif;
$font-soleil: 'soleil', $font-sans-serif;
$font-metric: 'soleil', $font-sans-serif;;
$font-soleil: $font-sans-serif;

// sass-mq
$mq-responsive: true;

$mq-breakpoints: (
  mobile: 520px,
  tablet: 760px,

  metrics-flip: 900px,
  ad-switch: 760px,
  footer-break: 900px,
  menu-label-break: 450px,
  menu-stack-break: 400px
);

$mq-media-type: screen;
