// Colors
$color-primary: rgb(32, 32, 32);
$color-secondary: lighten($color-primary, 20%);

$color-gray: rgb(194, 194, 194);
$color-gray-light: rgb(245, 245, 245);

$color-text: $color-primary;
$color-text-accent: $color-secondary;
$color-text-inverse: rgb(255, 255, 255);
$color-link: rgb(9, 135, 172);

$color-white: rgb(255, 255, 255);

$color-button: rgb(9, 182, 174);

// Spacing
$gutter: 1.25rem;

$gutter-double: $gutter * 2;
$gutter-quad: $gutter * 4;

$gutter-half: $gutter / 2;
$gutter-quarter: $gutter / 4;

// Grid

$grid-columns: 12;
$grid-gutter: 1.25rem;

// Typography
$font-size-base: 16;

$font-sans-serif: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-serif: Georgia, 'Times New Roman', Times, serif;
$font-livory: 'livory', $font-serif;
$font-soleil: 'soleil', $font-sans-serif;

// sass-mq
$mq-responsive: true;

$mq-breakpoints: (
  mobile: 520px,
  tablet:  760px,

  metrics-flip: 900px,
  ad-switch: 760px
);

$mq-media-type: screen;

// susy
$susy: (
  columns: 12,
  global-box-sizing: border-box,
  gutters: .25
);
