{% extends 'base.html' %}{% load i18n %}{% load static from staticfiles %}

{% block header_class %}header header-landing{% endblock header_class %}

{% block header %}
<div class="container">
  <a href="http://www.texastribune.org/"><img class="tribune-logo" src="{% static 'images/logos/tribune-white.svg' %}" alt={% trans "The Texas Tribune" %}></a>
</div>
{% endblock header %}

{% block content %}
<article class="landing-content">
  <div class="container">
    <h1 class="landing-header">{% trans "Texas Public Schools Explorer" %}</h1>
    <p class="landing-subheader">Your source for state public education&nbsp;data</p>
  </div>

  <section class="search-bar">
    <div class="container">
      <form class="search-form" action="{% url 'search' %}" method="GET">
        <label class="search-form-label" for="search">Search by district or campus</label>
        <div class="search-input-group">
        <input class="search-form-input" id="search" type="search" name="q" placeholder="{% trans "E.g. Austin ISD, Travis High School" %}" autocapitalize="none" autocomplete="off" autocorrect="off" spellcheck="false">
        <span class="search-form-submit">
          <button class="btn btn-link" type="submit">{% trans "Search" %}</button>
        </span>
        </div>
      </form>
    </div>
  </section>
</article>

{% include "includes/menu.html" %}

<section class="landing-prose">
  <p class="landing-paragraph">Uh oh, something went wrong. Try again or head back to the <a href="{% url 'landing' %}">home page</a>.</p>
</section>


<section class="container">
  <h2 class="page-section-header"><a href="http://www.texastribune.org/education/public-education/">Latest public education stories in The Texas Tribune</a></h2>
  <div class="row" id="js-story-box"></div>
</section>

{% endblock content %}
