{% extends 'standard.html' %}{% load i18n %}

{% block meta %}{% include "includes/meta.html" with title="About" %}{% endblock meta %}

{% block title %}About{% endblock title %}

{% block content %}

<section class="landing-prose">
  <p class="landing-paragraph">You're not supposed to be here! Head back to the <a href="{% url 'landing' %}">home page</a>.</p>
</section>


<section class="container">
  <h2 class="page-section-header"><a href="http://www.texastribune.org/education/public-education/">Latest public education stories in The Texas Tribune</a></h2>
  <div class="row" id="js-story-box"></div>
</section>

{% endblock content %}
