{% extends 'standard.html' %}{% load i18n %}

{% block meta %}{% include "includes/meta.html" with title="About" %}{% endblock meta %}

{% block title %}About{% endblock title %}

{% block content %}

<section class="landing-prose">
  <p class="landing-paragraph">Uh oh, looks like the site is down. Try refreshing the page, going back to the <a href="{% url 'landing' %}">home page</a> or shoot us an email <a href="schools-feedback@texastribune.org">schools-feedback@texastribune.org</a> to let us know what's wrong.</p>
</section>


<section class="container">
  <h2 class="page-section-header"><a href="http://www.texastribune.org/education/public-education/">Latest public education stories in The Texas Tribune</a></h2>
  <div class="row" id="js-story-box"></div>
</section>

{% endblock content %}
