{% extends 'standard.html' %}{% load i18n %}

{% block meta %}{% include "includes/meta.html" with title="About" %}{% endblock meta %}
{% block schema_type %}WebPage{% endblock schema_type %}

{% block title %}About the Data{% endblock title %}
{% block parsely_title %}About the Data{% endblock parsely_title %}

{% block content %}

<header class="page-header">
  <h1 class="page-headline">About the Data</h1>
</header>

<section class="row section">

<div class="about-content">
<h2 class="page-section-header" id="where-data">Where does the data come from?</h2>

<div class="page-prose">
  <p>Most of the data is sourced from the Texas Education Agency’s annual <a href="https://rptsvr1.tea.texas.gov/perfreport/tapr/">Texas Academic Performance Report</a>. We report all data as it’s released and labeled by the TEA unless otherwise specified.</p>

  <p>We also use <a href="http://tea.texas.gov/Texas_Schools/General_Information/School_District_Locator/School_District_Locator/">TEA’s geographic data</a> to map districts and campuses. Please note that the district’s shapefiles are approximate and should be used for general information, not for determining district affiliation.</p>

  <p>Superintendents, principals, and campus and district contact are provided via <a href="https://tea4avholly.tea.state.tx.us/tea.askted.web/Forms/Home.aspx">AskTED</a>.</p>
</div>

<h2 class="page-section-header" id="can-i-download">Can I download it?</h2>

<div class="page-prose">
  <p>Sure! Go to <a href="https://tea.texas.gov/texas-schools/accountability/academic-accountability/performance-reporting/texas-academic-performance-reports">TEA's TAPR page</a> and click on a year. Each year's page 
  should have an option to download the data or search by an individual campus or district.</p>
</div>

<h2 class="page-section-header" id="not-rated-disaster">Why are the accountability ratings not shown?</h2>

<div class="page-prose">
  <p>
    A-F ratings were last released during the <span style="font-weight: bold;">2022-2023</span> school year. 
    Because this data is now out of date, we are showing N/A for the ratings instead. 
    In addition, not all schools and districts are rated because some are alternative education programs and treatment facilities. 
    Ratings should be released again when the <a href="https://www.texastribune.org/2024/09/23/texas-schools-accountability-ratings-lawsuit-split/">lawsuit</a> over them has been resolved.
  </p>
</div>

<h2 class="page-section-header" id="at-risk">What does “at risk” mean?</h2>

<div class="page-prose">
  <p>TEA presents “at risk” as the percentage of students identified as being at risk of dropping out of school. According to <a href="https://statutes.capitol.texas.gov/Docs/ED/htm/ED.29.htm#29.081">state statutes</a>:</p>

  <div class="tea-pullout">
    <p>State law defines a student as being at risk of dropping out of school if he or she is under 26 years of age and:</p>
    <ul>
      <li>Was not advanced from one grade level to the next for one or more school years;</li>
      <li>If the student is in grade 7, 8, 9, 10, 11, or 12, did not maintain an average equivalent to 70 on a scale of 100 in two or more subjects in the foundation curriculum during a semester in the preceding or current school year or is not maintaining such an average in two or more subjects in the foundation curriculum in the current semester;</li>
      <li>Did not perform satisfactorily on an assessment instrument administered to the student under Subchapter B, Chapter 39, and who has not in the previous or current school year subsequently performed on that instrument or another appropriate instrument at a level equal to at least 110 percent of the level of satisfactory performance on that instrument;</li>
      <li>If the student is in prekindergarten, kindergarten, or grade 1, 2, or 3, did not perform satisfactorily on a readiness test or assessment instrument administered during the current school year;</li>
      <li>Is pregnant or is a parent;</li>
      <li>Has been placed in an alternative education program in accordance with Section 37.006 during the preceding or current school year;</li>
      <li>Has been expelled in accordance with Section 37.007 during the preceding or current school year;</li>
      <li>Is currently on parole, probation, deferred prosecution, or other conditional release;</li>
      <li>Was previously reported through the Public Education Information Management System (PEIMS) to have dropped out of school;</li>
      <li>Is a student of limited English proficiency, as defined by Section 29.052;</li>
      <li>Is in the custody or care of the Department of Family and Protective Services or has, during the current school year, been referred to the department by a school official, officer of the juvenile court, or law enforcement official;</li>
      <li>Is homeless, as defined by 42 U.S.C. Section 11302, and its subsequent amendments;</li>
      <li>Resided in the preceding school year or resides in the current school year in a residential placement facility in the district, including a detention facility, substance abuse treatment facility, emergency shelter, psychiatric hospital, halfway house, cottage home operation, specialized child-care home, or general residential operation.</li>
    </ul>
  </div>
</div>

<h2 class="page-section-header" id="masked">What does “Masked” mean?</h2>

<div class="page-prose">
  <p>Some statistics are hidden by TEA because it could make it possible to identify a student. <a href="https://rptsvr1.tea.texas.gov/perfreport/tapr/{{end_year}}/masking.html">Learn more</a> about the Texas Academic Performance Report’s masking rules.</p>
</div>

<h2 class="page-section-header" id="college-ready">What is a “college-ready graduate?”</h2>

<div class="page-prose">
  <p>College-ready graduates are defined by the TEA as the percentage of graduates who meet or exceed the college-ready criteria on the Texas Success Initiative Assessment (TSIA) test, the SAT test or the ACT test. Criteria for each are as follows:</p>

  <p><strong>Reading</strong></p>
  <p>To meet the college-ready criteria for reading, a student must receive at least a score of 351 on the reading TSIA test, at least a 480 on evidence-based reading and writing (EBRW) SAT, at least a 19 on English and at least a 23 composite score on the ACT, or complete and earn credit for a English/language arts college prep course.</p>

  <p><strong>Math</strong></p>
  <p>To meet the college-ready criteria for math, a student must receive at least a 350 on the TSIA mathematics test, at least a 530 on the mathematics SAT, at least 19 on math and at least a 23 composite score on the ACT, or complete and earn credit for a mathematics college prep course.</p>

  <p>More information can be found in the <a href="https://rptsvr1.tea.texas.gov/perfreport/tapr/{{end_year}}/glossary.pdf">{{latest_year}} TAPR glossary</a>.</p>
</div>

<h2 class="page-section-header" id="four-year-grad">How is a four-year graduation rate defined?</h2>

<div class="page-prose">
  <p>TEA refers to a four-year graduation rate as a four-year longitudinal rate. This measures the  status of a group of students, or cohort, after four years in high school. 
  For example, a cohort consisting of students who first attended ninth grade in 2013–2014 are followed through their expected graduation with the Class of 2017.</p>

  <p>The four-year-graduation rate as reported in the Texas Public Schools Explorer is the percentage of students who received their high school diploma on time (in four years) or earlier — by Aug. 31 of their graduation year.</p>
</div>

<h2 class="page-section-header" id="fte">What is a ‘full-time equivalent’ (FTE) employee?</h2>

<div class="page-prose">
  <p>According to the <a href="http://tea.texas.gov/index2.aspx?id=25769816000">TEA Glossary of Acronyms</a>, a full-time equivalent refers to a full-time employee. In calculating the number of staff members employed by a district, for example, two half-time employees would equal one full-time equivalent employee.</p>
</div>

<h2 class="page-section-header" id="contact-incorrect">Who can I notify if my campus or district contact info is incorrect or outdated?</h2>

<div class="page-prose">
  <p>We periodically update contact info for campuses and districts based on the <a href="https://tealprod.tea.state.tx.us/tea.askted.web/Forms/Home.aspx">AskTED directory</a>. We encourage you to contact your district through their website to encourage them to provide TEA with up-to-date contact info for this directory.</p>
</div>

<h2 class="page-section-header" id="why">Why did you make this?</h2>

<div class="page-prose">
  <p>The TEA collects hundreds of metrics about schools, but they are not always very accessible. We created the Texas Public Schools Explorer to make it easier for parents and others to learn more about Texas public schools. We surveyed our readers, parents and other interested parties to learn more about what you’re looking for, and we incorporated that feedback into what you see here.</p>

  <p>Did we miss anything? Have more questions? Let us know!</p>
  <p><a href="mailto:schools-feedback@texastribune.org">schools-feedback@texastribune.org</a></p>
</div>

</div>

<nav class="about-menu" id="about-menu">
  <ul class="about-menu__list">
    <li class="about-menu__item"><a href="#where-data">Where does the data come from?</a></li>
    <li class="about-menu__item"><a href="#can-i-download">Can I download it?</a></li>
    <li class="about-menu__item"><a href="#not-rated-disaster">>Why are the accountability ratings not shown?</a></li>
    <li class="about-menu__item"><a href="#at-risk">What does “at risk” mean?</a></li>
    <li class="about-menu__item"><a href="#masked">What does “Masked” mean?</a></li>
    <li class="about-menu__item"><a href="#college-ready">What is a “college-ready graduate?”</a></li>
    <li class="about-menu__item"><a href="#four-year-grad">How is a four-year graduation rate defined?</a></li>
    <li class="about-menu__item"><a href="#fte">What is a 'full-time equivalent' (FTE) employee?</a></li>
    <li class="about-menu__item"><a href="#contact-incorrect">Who can I notify if my campus or district contact info is incorrect?</a></li>
    <li class="about-menu__item"><a href="#why">Why did you make this?</a></li>
  </ul>
</nav>

</section>

{% include "includes/story_grid_insert.html" %}

{% endblock content %}
