<!doctype html>{% load i18n static %}
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block title %}{% trans "Home" %}{% endblock title %} | {% trans "Texas Public Schools" %} | {% trans "The Texas Tribune" %}</title>
  <script src="https://use.typekit.net/gbr6cnk.js"></script>
  <script>try{Typekit.load({ async: true });}catch(e){}</script>
  <link rel="stylesheet" href="{% static 'styles/main.css' %}">
</head>
<body class="{% block body_class %}{% endblock body_class %}">

<header class="{% block header_class %}{% endblock header_class %}" role="banner">
{% block header %}{% endblock header %}
</header>

{% block search %}{% endblock search %}

<main class="{% block main_class %}{% endblock main_class %}" role="main">
{% block breadcrumbs %}{% endblock breadcrumbs %}
{% block content %}{% endblock content %}
</main>

<footer class="footer" role="contentinfo">
{% block footer %}{% endblock footer %}
</footer>

{% block extra_script %}{% endblock extra_script %}
</body>
</html>
