{% extends 'cohorts_base.html' %}{% load i18n humanize webpacker %}{% load static %}

{% block meta %}{% include "includes/cohorts_meta.html" %}{% endblock meta %}

{% block schema_type %}WebPage{% endblock schema_type %}

{% block header_class %}header header-landing{% endblock header_class %}

{% block extra_head %}
{% include "includes/mapbox.html" %}
{% endblock extra_head %}

{% block header %}
<div class="container">
  <a href="http://www.texastribune.org/"><img class="tribune-logo" src="{% static 'images/logos/tribune-white.svg' %}" alt="The Texas Tribune"></a>
</div>
{% endblock header %}

{% block content %}
<article class="landing-content">
  <div class="container">
    <h1 class="landing-header">Texas Higher Ed Outcomes</h1>
    <p class="landing-subheader">Tracking Eighth-Graders' Post-Secondary Success</p>
  </div>
</article>

{% include "includes/cohorts/menu.html" %}

{% include "includes/schools_announcement.html" %}

<section class="landing-prose">
  <p class="landing-paragraph">Each year, approximately 300,000 students begin eighth grade in a Texas public school. National employment and earnings statistics suggest that these students will have materially better prospects as adults if they finish high school and enroll in and complete a post-secondary certificate or degree program.</p>

  <p class="landing-paragraph">With support from the <a href="https://www.greatertexasfoundation.org/">Greater Texas Foundation</a> and the <a href="http://houstonendowment.org/">Houston Endowment</a>, two institutional philanthropies, The Texas Tribune has used data from the <a href="http://www.thecb.state.tx.us/">Texas Higher Education Coordinating Board</a> and the <a href="http://www.tea.state.tx.us/">Texas Education Agency</a> to document the education outcomes of every student who started eighth grade in a Texas public school during nine academic years ({{ first_cohort_year.start_year }} through {{latest_cohort_year.start_year}}). Each student was anonymously tracked over 11 years to determine the percentage of Texas eighth-graders who achieved a post-secondary certificate or degree from a Texas college or university within six years of their expected high school graduation date.</p>

  <p class="landing-paragraph">Use this explorer to review and compare student outcomes by region or by county. Or, <a href="{% url 'cohorts:states' 'tx' %}">view outcomes at the statewide level</a>. You can also <a href="http://www.txhighereddata.org/index.cfm?objectId=4E600400-D970-11E8-BB650050560100A9">download the data</a>.</p>

  <p class="landing-paragraph landing-paragraph--dateline">Last updated June 2022.</p>

  <p class="landing-paragraph landing-paragraph--credit">
    By <a href="http://www.texastribune.org/about/staff/ryan-murphy/">Ryan Murphy</a>,
    <a href="http://www.texastribune.org/about/staff/annie-daniel/">Annie Daniel</a> and
    <a href="http://www.texastribune.org/about/staff/mandi-cai/">Mandi Cai</a>
  </p>
</section>

{% include "includes/ad_slot_leader.html" %}

<section class="container">
  <h2 class="page-section-header">View by region<span class="anchor" id="districts"></span></h2>
</section>

<section class="flex-container">
  <div class="flex-column-map">
    <div class="map map--full-region" id="map-regions"></div>
    <div class="map-tooltip" id="map-tooltip"></div>
  </div>
  <div class="flex-column">
    <div class="region-list section">
      {% for region in region_list %}
      <div class="list-container region-list-container js-region-list-group">
        <ul class="card-list">
          <li class="list-item region-list-item"><a href="{% url 'cohorts:regions' region.slug %}">{{ region.region_name_with_city }}</a></li>
        </ul>
        {% if region.list|length > 10 %}<button class="btn btn-dark-ghost btn-thin btn-block">+ More</button>{% endif %}
      </div>
      {% endfor %}
    </div>
  </div>
</section>

<section class="container">
  <h2 class="page-section-header">View by county<span class="anchor" id="districts"></span></h2>
  <div class="county-list section">
    {% for county in county_list %}
    <div class="list-container county-list-container js-county-list-group">
      <ul class="card-list">
        <li class="list-item county-list-item"><a href="{% url 'cohorts:counties' county.slug %}">{{ county.name_cohorts }}</a></li>
      </ul>
      {% if county.list|length > 10 %}<button class="btn btn-dark-ghost btn-thin btn-block">+ More</button>{% endif %}
    </div>
    {% endfor %}
  </div>
</section>

{% include "includes/ad_slot_footer.html" %}

<section class="container">
  <h2 class="page-section-header page-section-header--smaller"><a href="http://www.texastribune.org/education/public-education/">Latest public education stories in The Texas Tribune</a></h2>
  <div class="row" id="js-story-box"></div>
</section>

{% endblock content %}
{% block footer_ad %}{% endblock footer_ad %}

{% block data_script %}
{{ block.super }}
{{ regions_geojson|json_script:"shape" }}
{% endblock data_script %}

{% block extra_script %}
{% javascript_pack 'cohorts-landing' %}
{% endblock extra_script %}
