{% extends 'base.html' %}{% load i18n humanize %}{% load static from staticfiles %}

{% block schema_type %}WebPage{% endblock schema_type %}

{% block header_class %}header header-landing{% endblock header_class %}

{% block header %}
<div class="container">
  <a href="http://www.texastribune.org/"><img class="tribune-logo" src="{% static 'images/logos/tribune-white.svg' %}" alt={% trans "The Texas Tribune" %}></a>
</div>
{% endblock header %}

{% block content %}
<article class="landing-content">
  <div class="container">
    <h1 class="landing-header">{% trans "Texas Public Schools Explorer" %}</h1>
    <p class="landing-subheader">Your source for state public education&nbsp;data</p>
  </div>

  <section class="search-bar">
    <div class="container">
      <form class="search-form" action="{% url 'search' %}" method="GET">
        <label class="search-form-label" for="search">Search by district or campus</label>
        <div class="search-input-group">
        <input class="search-form-input" id="search" type="search" name="q" placeholder="{% trans "E.g. Austin ISD, Travis High School" %}" autocapitalize="none" autocomplete="off" autocorrect="off" spellcheck="false">
        <span class="search-form-submit">
          <button class="btn btn-link" type="submit">{% trans "Search" %}</button>
        </span>
        </div>
      </form>
    </div>
  </section>
</article>

{% include "includes/menu.html" %}

{% include "includes/story_announcement.html" %}

<section class="landing-prose">
  <p class="landing-paragraph">Use our Texas public schools database to learn more about the state’s {{ district_count|intcomma }} districts and {{ campus_count|intcomma }} public schools, including hundreds of charter schools and alternative campuses. You can easily navigate through information on demographics, academic performance, college readiness and average teacher salaries for each school or&nbsp;district.</p>
  <p class="landing-paragraph landing-paragraph--dateline">Last updated September 2020.</p>
  <p class="landing-paragraph landing-paragraph--credit">By <a href="http://www.texastribune.org/about/staff/ryan-murphy/">Ryan Murphy</a> and <a href="http://www.texastribune.org/about/staff/annie-daniel/">Annie Daniel</a></p>
</section>

{% include "includes/ad_slot_leader.html" %}

<section class="container">
  <h2 class="page-section-header page-section-header--smaller"><a href="http://www.texastribune.org/education/public-education/">Latest public education stories in The Texas Tribune</a></h2>
  <div class="row" id="js-story-box"></div>
</section>

{% endblock content %}

{% block footer_ad %}{% endblock footer_ad %}
