{% extends 'standard.html' %}{% load i18n %}

{% block title %}Search{% endblock title %}

{% block breadcrumbs %}
<section class="breadcrumbs">
  <a class="breadcrumbs__item" href="{% url 'landing' %}">Home</a>
</section>
{% endblock breadcrumbs %}

{% block content %}

<h1 class="page-header">{% trans "Searching for: " %}{{ request.GET.q }}</h1><br>

{% if matching_districts %}
<h2 class="page-sub-header">Districts</h2>
<table class="table table-striped">
  <thead>
    <tr>
      <th>District</th>
      <th class="table__cell--numeric">{% trans "No. of Campuses" %}</th>
  </thead>
  <tbody>
  {% for district in matching_districts %}
    <tr>
      <td><a href="{{ district.get_absolute_url }}">{{ district.name }}</a></td>
      <td class="table__cell--numeric">{{ district.campuses.count }}</td>
    </tr>
  {% endfor %}
  </tbody>
</table>
<br>
{% endif %}

{% if matching_campuses %}
<h2 class="page-sub-header">{% trans "Campuses" %}</h2>
<table class="table table-striped">
  <thead>
    <tr>
      <th>{% trans "Campus" %}</th>
      <th>{% trans "District" %}</th>
  </thead>
  <tbody>
  {% for campus in matching_campuses %}
    <tr>
      <td><a href="{{ campus.get_absolute_url }}">{{ campus.name }}</a></td>
      <td><a href="{{ campus.district.get_absolute_url }}">{{ campus.district.name }}</a></td>
    </tr>
  {% endfor %}
  </tbody>
</table>
{% endif %}

{% endblock content %}
