{% extends 'standard.html' %}{% load i18n %}

{% block title %}Search{% endblock title %}

{% block breadcrumbs %}
<section class="breadcrumbs">
  <a class="breadcrumbs__item" href="{% url 'landing' %}">Home</a>
</section>
{% endblock breadcrumbs %}

{% block content %}

<h1 class="page-header">{% trans "You searched for: " %}{{ request.GET.q }}</h1>

{% if matching_districts %}
<section class="section">
<h2 class="page-section-header">{% blocktrans count counter=matching_districts|length %}1 District Found{% plural %}{{ counter }} Districts Found{% endblocktrans %}</h2>

<table class="table table-striped">
  <thead>
    <tr>
      <th>District</th>
      <th>{% trans "No. of Campuses" %}</th>
      <th>County</th>
  </thead>
  <tbody>
  {% for district in matching_districts %}
    <tr>
      <td><a href="{{ district.get_absolute_url }}">{{ district.name }}</a></td>
      <td>{{ district.campuses.count }}</td>
      <td>{{ district.county.name }}</td>
    </tr>
  {% endfor %}
  </tbody>
</table>
<br>
</section>
{% endif %}

{% if matching_campuses %}
<section class="section">
<h2 class="page-section-header">{% blocktrans count counter=matching_campuses|length %}1 Campus Found{% plural %}{{ counter }} Campuses Found{% endblocktrans %}</h2>
<table class="table table-striped">
  <thead>
    <tr>
      <th>{% trans "Campus" %}</th>
      <th>{% trans "District" %}</th>
  </thead>
  <tbody>
  {% for campus in matching_campuses %}
    <tr>
      <td><a href="{{ campus.get_absolute_url }}">{{ campus.name }}</a></td>
      <td><a href="{{ campus.district.get_absolute_url }}">{{ campus.district.name }}</a></td>
    </tr>
  {% endfor %}
  </tbody>
</table>
</section>
{% endif %}

{% include "includes/story_grid_insert.html" %}

{% endblock content %}
