.ad-slot {
  text-align: center;
  margin-bottom: $gutter-double;
}

.ad-slot--small-margin {
  margin-bottom: $gutter;
}

.ad-slot-box {
  display: block;

  @include mq($from: ad-switch) {
    display: none;
  }
}

.ad-slot-banner {
  display: none;

  @include mq($from: ad-switch) {
    display: block;
  }
}
