.bar-chart {
  margin-bottom: $gutter;
  max-width: 28.125rem; // 450px
}

.bar-chart-row {
  @include clearfix;
}

.bar-chart-label {
  @include font-size(12);
  float: left;
  line-height: 1.2;
  width: 34%;
}

.bar-chart-bar {
  background-color: $color-gray-light;
  float: left;
  height: 1rem;
  margin-bottom: .5rem;
  margin-right: 1%;
  width: 54%;
}

.bar-chart-value {
  @include font-size(12);
  float: left;
  line-height: 1.2;
  width: 10%;
}

.bar-chart-bar-color {
  background-color: $color-button;
  display: block;
  height: 100%;
}
