.header {
  background-color: $color-primary;
  padding-bottom: $gutter-half;
  padding-top: $gutter-half;
}

.header-landing {
  text-align: center;
}

.header-logo {
  float: left;
}

.header-title {
  @include font-size(16);
  color: $color-text-inverse;
  display: inline-block;
  float: right;
  font-family: $font-soleil;
  text-decoration: none;

  @include mq($until: tablet) {
    padding-bottom: .25rem;
    padding-top: .25rem;
  }

  &:hover {
    text-decoration: underline;
  }
}
