.header {
  text-align: center;

  &__logo {
    padding: .625rem;
  }

  &__title {
    @include font-size(24);
    background-color: darken($color-secondary, 35%);
    color: $color-white;
    font-family: Georgia, serif;
    padding-bottom: .625rem;
    padding-top: .625rem;
  }
}
