.menu-bar-container {
  margin-bottom: $gutter;
}

.menu-bar {
  @include create-row();
}

.menu-bar__item {
  @include create-column(4);
  margin-bottom: $gutter-half;
  text-align: center;

  @include mq($from: tablet) {
    @include create-column(4);
  }
}

.menu-bar__text {
  @include mq($until: menu-label-break) {
    @include visuallyhidden;
  }
}
