.metrics-block {
  @include create-row();
  position: relative;
}

.metrics-nav {
  display: none;
  float: left;
  margin-right: $gutter;
  min-height: 1px;
  padding-left: $gutter-half;
  padding-right: $gutter-half;
  position: relative;

  @include mq($from: tablet) {
    display: block;
    width: 15rem;
  }

  @include mq($from: metrics-flip) {
    display: block;
    width: 20rem;
  }
}

.metrics-nav-ad {
  display: none;

  @include mq($from: metrics-flip) {
    display: block;
  }
}

.metrics-section {
  overflow: hidden;
  min-height: 1px;
  padding-left: $gutter-half;
  padding-right: $gutter-half;
  position: relative;
  width: auto;
}

.metrics-jumper {
  margin-bottom: $gutter;
}

.metrics {
  margin-bottom: $gutter-half;
}

.metric {
  @include create-column(6);
  margin-bottom: $gutter;

  @include mq($from: metrics-flip) {
    @include create-column(3);
  }

  &--full-row {
    @include create-column(12);
  }
}

.metric-title {
  @include font-size(14);
  color: $color-text-accent;
  margin-bottom: .25rem;
}

.metric-value {
  @include font-size(28);
  margin-bottom: .375rem;

  &--bigger {
    @include font-size(32);
  }
}

.metric-value-label {
  @include font-size(14);
}

.metric-value-smaller {
  @include font-size(36);
}

.metric-subtext {
  @include font-size(12);
  color: $color-text-accent;
  margin-bottom: .25rem;
  letter-spacing: .03em;

  &:last-child {
    margin-bottom: 0;
  }
}

.metric-bumper {
  border-bottom: 1px solid $color-gray;
  padding-bottom: $gutter;
}

.metrics-jumper__item {
  display: block;
  margin-bottom: $gutter-half;
}

.sticky {
  position: fixed;
  margin-top: $gutter-half;
  top: 0;
}

.active-section {
  background-color: $color-button;
  border-color: $color-button;
  color: $color-text-inverse;
}

.attach-to-top {
  margin-top: $gutter * 3;
  position: fixed;
  top: 0;

  + .metrics-section {
    @include mq($from: tablet) {
      margin-left: 15rem + $gutter;
    }

    @include mq($from: metrics-flip) {
      margin-left: 20rem + $gutter;
    }
  }
}

.attach-to-bottom {
  bottom: 0;
  position: absolute;

  + .metrics-section {
    @include mq($from: tablet) {
      margin-left: 15rem + $gutter;
    }

    @include mq($from: metrics-flip) {
      margin-left: 20rem + $gutter;
    }
  }
}
