.search-bar {
  background-color: $color-secondary;
  margin-bottom: $gutter;
  padding-bottom: $gutter;
  padding-top: $gutter;
  text-align: center;
}

.search-form-label {
  @include font-size(16);
  color: $color-white;
  line-height: 1.6;
  margin-right: $gutter-half;
}

.search-form-input {
  @include font-size(16);
  border: .0625rem solid transparent;
  border-radius: 0;
  display: inline-block;
  font-family: $font-soleil;
  font-weight: 300;
  line-height: 1.6;
  margin: 0;
  padding: .375rem .75rem;
  vertical-align: middle;
  width: auto;

  &:focus {
    border-color: $color-link;
    outline: 0;
  }

  @include mq($from: tablet) {
    width: 30rem;
  }
}
