.story-box-container {
  @include create-column(12);

  @include mq($from: tablet) {
    @include create-column(6);

    &:nth-child(2n+1) {
      clear: left;
    }
  }
}

.story-box {
  @include clearfix;
  color: $color-text;
  cursor: pointer;
  display: block;
  margin-bottom: $gutter;
  padding: $gutter-quarter;

  &:hover {
    background-color: $color-gray-light;
    text-decoration: none;
  }
}

.story-box__media {
  display: block;
  float: left;
  margin-bottom: $gutter;
  margin-right: $gutter;
}

.story-box__image {
  vertical-align: middle;
  width: 75px;

  @include mq($from: tablet) {
    width: 100px;
  }
}

.story-box__body {

}

.story-box__header {
  @include font-size(16);
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: $gutter-quarter;

  @include mq($from: tablet) {
    margin-bottom: $gutter-half;
  }
}

.story-box__prose {
  @include font-size(12);
  line-height: 1.4;

  @include mq($from: tablet) {
    @include font-size(14);
  }
}
