<a class="airtable-btn btn btn-link btn-block" href="https://us3.list-manage.com/survey?u=3d0ce87edeeb6df90043897db&id=1679c1ca8c&attribution=false" target="_blank">
    Take our public schools explorer survey
</a>

<style>
    .airtable-btn {
        font-weight: bold;
        margin: 1.25rem 0;
        background-color: #ffc200;
        border-color: #ffc200;
        color: #000;
    }

    .airtable-btn:hover {
        opacity: .7;
        background-color: #ffc200;
        border-color: #ffc200;
    }
</style>