<meta name="twitter:card" content="summary_large_image">{% load static %}
  <meta name="twitter:site" content="@texastribune">
  <meta name="twitter:creator" content="@texastribune">
  <meta property="og:url" content="https://schools.texastribune.org{{ request.path }}">
  <meta property="og:title" content="Higher Ed Outcomes{% if title %}: {{ title }}{% endif %}">
  <meta property="og:type" content="article">
  <meta property="article:publisher" content="https://www.facebook.com/texastribune">
  <meta property="article:published_time" content="2017-08-25">
  <meta property="og:description" content="{% if description %}{% else %}Each year, approximately 300,000 students begin eighth grade in a Texas public school. National employment and earnings statistics suggest that these students will have materially better prospects as adults if they finish high school and enroll in and complete a post-secondary certificate or degree program. Use our database to look into the outcomes of students who started eighth grade in a Texas public school over the past nine years.{% endif %}">
  <meta property="og:site_name" content="Texas Public Schools: Higher Ed Outcomes">
  <meta property="og:image" content="https://schools.texastribune.org{% static 'images/cohorts-facebook-share.jpg' %}">
  <meta property="fb:app_id" content="154122474650943">
