{% load humanize %}

<section class="section js-metrics-block" id="demographics">
  <h2 class="page-section-header js-metrics-header">Demographics</h2>

  <h3 class="page-section-subheader">Ethnicities</h3>

  <section class="row metrics">
    {% include 'includes/metric.html' with title="Total Students" field="all_students_count" field_type="number" skip_district_state=True full_row=True bigger_value=True %}
    {% include 'includes/metric.html' with title="White" field="white_count" field_type="number" extra_field="white_percent" extra_field_type="percent" use_extra_for_context=True %}
    {% include 'includes/metric.html' with title="Hispanic" field="hispanic_count" field_type="number" extra_field="hispanic_percent" extra_field_type="percent" use_extra_for_context=True %}
    {% include 'includes/metric.html' with title="African American" field="african_american_count" field_type="number" extra_field="african_american_percent" extra_field_type="percent" use_extra_for_context=True %}
    {% include 'includes/metric.html' with title="Asian" field="asian_count" field_type="number" extra_field="asian_percent" extra_field_type="percent" use_extra_for_context=True %}
    {% include 'includes/metric.html' with title="American Indian" field="american_indian_count" field_type="number" extra_field="american_indian_percent" extra_field_type="percent" use_extra_for_context=True %}
    {% include 'includes/metric.html' with title="Pacific Islander" field="pacific_islander_count" field_type="number" extra_field="pacific_islander_percent" extra_field_type="percent" use_extra_for_context=True %}
    {% include 'includes/metric.html' with title="Two or More Races" field="two_or_more_races_count" field_type="number" extra_field="two_or_more_races_percent" extra_field_type="percent" use_extra_for_context=True %}
  </section>

  {% include "includes/bar_chart.html" with rows=stat.student_percent %}

  <h3 class="page-section-subheader">Risk Factors</h3>

  <section class="page-prose">
    <p>A student is identified as at risk of dropping out of school based on state-defined criteria. The percentage of at-risk students is calculated as the sum of the students coded as at risk of dropping out of school divided by the total number of students in membership.</p>
  </section>

  <section class="row metrics">
    {% include 'includes/metric.html' with title="Students at Risk" field="at_risk_percent" field_type="percent" %}
    {% include 'includes/metric.html' with title="Limited English Proficiency" field="limited_english_proficient_percent" field_type="percent" %}
  </section>

  <section class="page-prose">
    <p>The percentage of students eligible for free or reduced-price lunch or eligible for other public assistance.</p>
  </section>

  <section class="row metrics">
    {% include 'includes/metric.html' with title="Economically Disadvantaged" field="economically_disadvantaged_percent" field_type="percent" %}
  </section>

  {% include "includes/bar_chart.html" with rows=stat.factors_percents %}

  <h3 class="page-section-subheader">Enrollment by Program</h3>

  <section class="page-prose">
    <p>This is a look at the percentage of students enrolled in certain programs offered at schools for the {{ stat.year.name }} school year. A student could be enrolled in more than one of these programs.</p>
  </section>

  <section class="row metrics">
    {% include 'includes/metric.html' with title="Bilingual/ESL" field="bilingual_esl_percent" field_type="percent" %}
    {% include 'includes/metric.html' with title="Career and Technical" field="career_technical_education_percent" field_type="percent" %}
    {% include 'includes/metric.html' with title="Gifted and Talented" field="gifted_and_talented_percent" field_type="percent" %}
    {% include 'includes/metric.html' with title="Special Education" field="special_education_percent" field_type="percent" %}
  </section>

  {% include "includes/bar_chart.html" with rows=stat.program_enrollment_percents %}
</section>
