{% load humanize %}

<section class="section js-metrics-block" id="demographics">
  <h2 class="page-section-header js-metrics-header">Demographics</h2>

  <h3 class="page-section-subheader">Race and ethnicity</h3>

  <section class="row metrics">
    {% include 'includes/metric.html' with title="Total students" field="all_students_count" field_type="number" skip_district_state=True full_row=True bigger_value=True %}
    {% include 'includes/metric.html' with title="African American" field="african_american_count" field_type="number" extra_field="african_american_percent" extra_field_type="percent" use_extra_for_context=True %}
    {% include 'includes/metric.html' with title="American Indian" field="american_indian_count" field_type="number" extra_field="american_indian_percent" extra_field_type="percent" use_extra_for_context=True %}
    {% include 'includes/metric.html' with title="Asian" field="asian_count" field_type="number" extra_field="asian_percent" extra_field_type="percent" use_extra_for_context=True %}
    {% include 'includes/metric.html' with title="Hispanic" field="hispanic_count" field_type="number" extra_field="hispanic_percent" extra_field_type="percent" use_extra_for_context=True %}    {% include 'includes/metric.html' with title="Pacific Islander" field="pacific_islander_count" field_type="number" extra_field="pacific_islander_percent" extra_field_type="percent" use_extra_for_context=True %}
    {% include 'includes/metric.html' with title="White" field="white_count" field_type="number" extra_field="white_percent" extra_field_type="percent" use_extra_for_context=True %}
    {% include 'includes/metric.html' with title="Two or more races" field="two_or_more_races_count" field_type="number" extra_field="two_or_more_races_percent" extra_field_type="percent" use_extra_for_context=True %}
  </section>

  {% include "includes/bar_chart.html" with rows=stat.student_percent %}

  <h3 class="page-section-subheader">Risk factors</h3>

  <section class="page-prose">
    <p>A student is <a href="{% url 'about' %}#at-risk">identified as being at risk of dropping out of school</a> based on state-defined criteria. A student is defined as "economically disadvantaged" if he or she is eligible for free or reduced-price lunch or other public assistance.</p>
  </section>

  <section class="row metrics">
    {% include 'includes/metric.html' with title="At-risk students" field="at_risk_percent" field_type="percent" %}
    {% include 'includes/metric.html' with title="Economically disadvantaged" field="economically_disadvantaged_percent" field_type="percent" %}
    {% include 'includes/metric.html' with title="Limited English proficiency" field="limited_english_proficient_percent" field_type="percent" %}
  </section>

  {% include "includes/bar_chart.html" with rows=stat.factors_percents %}

  <h3 class="page-section-subheader">Enrollment by program</h3>

  <section class="page-prose">
    <p>A look at the percentage of students enrolled in certain programs offered at schools for the <span style="font-weight: bold;">{{ stat.year.name }}</span> school year. 
    A student can be enrolled in more than one program.</p>
  </section>

  <section class="row metrics">
    {% include 'includes/metric.html' with title="Bilingual/ESL" field="bilingual_esl_percent" field_type="percent" %}
    {# {% include 'includes/metric.html' with title="Career and Technical" field="career_technical_education_percent" field_type="percent" %} #}
    {% include 'includes/metric.html' with title="Gifted and Talented" field="gifted_and_talented_percent" field_type="percent" %}
    {% include 'includes/metric.html' with title="Special Education" field="special_education_percent" field_type="percent" %}
  </section>

  {% include "includes/bar_chart.html" with rows=stat.program_enrollment_percents %}
</section>
