<div class="a-f-ratings-announcement">
  <p>
    <a href="https://www.texastribune.org/2025/04/24/texas-schools-a-f-accountability-ratings/">A-F ratings</a> have not been released for the <span style="font-weight: bold;">2023-2024</span> school year. Some school districts <a href="https://www.texastribune.org/2024/08/12/texas-school-accountability-ratings-lawsuit/#:~:text=second%20time" target="_blank">sued the Texas Education Agency</a>, arguing that a new automated scoring system may have impacted results on the state's reading test. The ratings won't be released until the case is resolved.
 
  </p>
</div>
