<div class="coronavirus-announcement">
  <p>
    <span style="font-weight: bold;">Because of the coronavirus pandemic, the state 
    <a href="https://tea.texas.gov/about-tea/news-and-multimedia/news-releases/news-2020/texas-education-agency-pauses-a-f-ratings-for-2020-21-school-year#:~:text=Texas%20Education%20Agency%20Pauses%20A%2DF%20Ratings%20For%202020%2D21%20School%20Year,-Date&text=AUSTIN%2C%20Texas%20%E2%80%93%20December%2010%2C,disruptions%20associated%20with%20COVID%2D19.">waived accountability ratings</a> 
    for the 2020-2021 school year.</span> All Texas public school districts and campuses received the label “Not Rated: Declared State of Disaster.” 
    Our schools explorer shows the accountability ratings from the <span style="font-weight: bold;">2018-2019</span> <span style="white-space: nowrap;">school year</span> when available.
  </p>
</div>
