<div class="coronavirus-announcement">
  <p>
    For the <span style="font-weight: bold;">2021-2022</span> school year, the state gave <span style="font-weight: bold;">only A - C ratings</span>. All Texas public school districts and campuses that would have received <span style="font-weight: bold;">a D or F rating</span> instead <a href="https://tea.texas.gov/sites/default/files/senate-bill-1365-explanatory-document.pdf">received the label “Not Rated: SB 1365.”</a> In addition, not all schools and districts are rated because some are alternative education programs and treatment facilities.
  </p>
</div>
