<meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@texastribune">
  <meta name="twitter:creator" content="@texastribune">
  <meta property="og:url" content="{{ request.build_absolute_uri }}">
  <meta property="og:title" content="{% if title %}{{ title }} | {% endif %}Texas Public Schools Explorer">
  <meta property="og:type" content="article">
  <meta property="og:description" content="{% if description %}{% else %}Use our Texas public schools database to learn more about the state’s 1,300 districts and 8,500 public schools, including hundreds of charter schools and alternative campuses.{% endif %}">
  <meta property="og:site_name" content="The Texas Tribune">
  <meta property="og:image" content="TK">
  <meta property="fb:app_id" content="154122474650943">
