{% load humanize stats_tags %}
<div class="metric{% if full_row %} metric--full-row{% endif %}">
  <p class="metric-title">{{ title }}</p>
  <p class="metric-value{% if bigger_value %} metric-value--bigger{% endif %}">
    {% display_stat stat field field_type value_label=True %}{% if extra_field %}<span class="metric-subtext"> ({% display_stat stat extra_field extra_field_type %})</span>{% endif %}
  </p>
  {% if use_extra_for_context %}
    {% if district and not skip_district_state and not skip_district %}
    <p class="metric-subtext">
      {{ district_name }}: {% display_stat district extra_field extra_field_type %}
    </p>
    {% endif %}
    {% if state and not skip_district_state and not skip_state %}
    <p class="metric-subtext">
      Statewide: {% display_stat state extra_field extra_field_type %}
    </p>
    {% endif %}
  {% else %}
    {% if district and not skip_district_state and not skip_district %}
    <p class="metric-subtext">
      {{ district_name }}: {% display_stat district field field_type %}
    </p>
    {% endif %}
    {% if state and not skip_district_state and not skip_state %}
    <p class="metric-subtext">
      Statewide: {% display_stat state field field_type %}
    </p>
    {% endif %}
  {% endif %}
</div>
