{% load humanize %}

<section class="section">
  <h2 class="page-section-header js-metrics-header">College Readiness</h2>

  <h3 class="page-section-subheader">AP/IB Participation</h3>

  <section class="page-prose">
    <p>{% lorem 25 w %}.</p>
  </section>

  <section class="row metrics">
    {% include 'includes/metric.html' with title="All Students" field="ap_ib_all_students_percent_taking" field_type="percent" %}
    {% include 'includes/metric.html' with title="White" field="ap_ib_white_percent_taking" field_type="percent" %}
    {% include 'includes/metric.html' with title="Hispanic" field="ap_ib_hispanic_percent_taking" field_type="percent" %}
    {% include 'includes/metric.html' with title="African American" field="ap_ib_african_american_percent_taking" field_type="percent" %}
    {% include 'includes/metric.html' with title="Asian" field="ap_ib_asian_percent_taking" field_type="percent" %}
    {% include 'includes/metric.html' with title="American Indian" field="ap_ib_american_indian_percent_taking" field_type="percent" %}
    {% include 'includes/metric.html' with title="Pacific Islander" field="ap_ib_pacific_islander_percent_taking" field_type="percent" %}
    {% include 'includes/metric.html' with title="Two or More Races" field="ap_ib_two_or_more_races_percent_taking" field_type="percent" %}
  </section>

  <h3 class="page-section-subheader">AP/IB Performance</h3>

  <section class="page-prose">
    <p>{% lorem 25 w %}.</p>
  </section>

  <section class="row metrics">
    {% include 'includes/metric.html' with title="All Students" field="ap_ib_all_students_percent_above_criterion" field_type="percent" %}
    {% include 'includes/metric.html' with title="White" field="ap_ib_white_percent_above_criterion" field_type="percent" %}
    {% include 'includes/metric.html' with title="Hispanic" field="ap_ib_hispanic_percent_above_criterion" field_type="percent" %}
    {% include 'includes/metric.html' with title="African American" field="ap_ib_african_american_percent_above_criterion" field_type="percent" %}
    {% include 'includes/metric.html' with title="Asian" field="ap_ib_asian_percent_above_criterion" field_type="percent" %}
    {% include 'includes/metric.html' with title="American Indian" field="ap_ib_american_indian_percent_above_criterion" field_type="percent" %}
    {% include 'includes/metric.html' with title="Pacific Islander" field="ap_ib_pacific_islander_percent_above_criterion" field_type="percent" %}
    {% include 'includes/metric.html' with title="Two or More Races" field="ap_ib_two_or_more_races_percent_above_criterion" field_type="percent" %}
  </section>

  <h3 class="page-section-subheader">SAT</h3>

  <section class="page-prose">
    <p>{% lorem 25 w %}.</p>
  </section>

  <section class="row metrics">
    {% include 'includes/metric.html' with title="Avg. SAT Score" field="avg_sat_score_all_students" field_type="test_score" %}
  </section>

  <h3 class="page-section-subheader">ACT</h3>

  <section class="page-prose">
    <p>{% lorem 25 w %}.</p>
  </section>

  <section class="row metrics">
    {% include 'includes/metric.html' with title="Avg. ACT Score" field="avg_act_score_all_students" field_type="test_score" %}
  </section>

  <h3 class="page-section-subheader">College Ready Graduates</h3>

  <section class="page-prose">
    <p>{% lorem 25 w %}.</p>
  </section>

  <section class="row metrics">
    {% include 'includes/metric.html' with title="English" field="college_ready_graduates_english_all_students_percent" field_type="percent" %}
    {% include 'includes/metric.html' with title="Math" field="college_ready_graduates_math_all_students_percent" field_type="percent" %}
    {% include 'includes/metric.html' with title="English + Math" field="college_ready_graduates_both_all_students_percent" field_type="percent" %}
  </section>
</section>
