{% load humanize %}

<section class="section">
  <h2 class="page-section-header js-metrics-header" id="staff">Staff</h2>

  <h3 class="page-section-subheader">Teacher Experience</h3>

  <section class="page-prose">
    <p>{% lorem 25 w %}.</p>
  </section>

  <section class="row metrics">
    {% include 'includes/metric.html' with title="Avg. Teacher Tenure" field="teacher_avg_tenure" field_type="years" %}
  </section>

  <h3 class="page-section-subheader">Teacher Salaries</h3>

  <section class="page-prose">
    <p>{% lorem 25 w %}.</p>
  </section>

  <section class="row metrics">
    {% include 'includes/metric.html' with title="Base Average" field="teacher_avg_base_salary" field_type="dollars" %}
    {% include 'includes/metric.html' with title="Beginner" field="teacher_avg_beginning_salary" field_type="dollars" %}
    {% include 'includes/metric.html' with title="1-to-5 Years" field="teacher_avg_1_to_5_year_salary" field_type="dollars" %}
    {% include 'includes/metric.html' with title="6-to-10 Years" field="teacher_avg_6_to_10_year_salary" field_type="dollars" %}
    {% include 'includes/metric.html' with title="11-to-10 Years" field="teacher_avg_11_to_20_year_salary" field_type="dollars" %}
    {% include 'includes/metric.html' with title="20+ Years" field="teacher_avg_20_plus_year_salary" field_type="dollars" %}
  </section>
</section>
