{% load humanize %}

<section class="section">
  <h2 class="page-section-header js-metrics-header">Staff</h2>

  <h3 class="page-section-subheader">Teacher Experience</h3>

  <section class="page-prose">
    <p>{% lorem 25 w %}.</p>
  </section>

  <section class="row metrics">
    <div class="metric">
      <p class="metric-title">Avg. Teacher Tenure</p>
      <p class="metric-value">{{ stat.teacher_avg_tenure|floatformat:"1"|intcomma }}<span class="metric-value-label"> years</span></p>
      {% if district %}<p class="metric-subtext">{{ district_name }}: {{ district.teacher_avg_tenure|floatformat:"1"|intcomma }} years</p>{% endif %}
      {% if state %}<p class="metric-subtext">Statewide: {{ state.teacher_avg_tenure|floatformat:"1"|intcomma }} years</p>{% endif %}
    </div>
  </section>

  <h3 class="page-section-subheader">Teacher Salaries</h3>

  <section class="page-prose">
    <p>{% lorem 25 w %}.</p>
  </section>

  <section class="row metrics">
    <div class="metric">
      <p class="metric-title">Base Average</p>
      <p class="metric-value">${{ stat.teacher_avg_base_salary|floatformat:"0"|intcomma }}</p>
      {% if district %}<p class="metric-subtext">{{ district_name }}: ${{ district.teacher_avg_base_salary|floatformat:"0"|intcomma }}</p>{% endif %}
      {% if state %}<p class="metric-subtext">Statewide: ${{ state.teacher_avg_base_salary|floatformat:"0"|intcomma }}</p>{% endif %}
    </div>
    <div class="metric">
      <p class="metric-title">Beginner</p>
      <p class="metric-value">${{ stat.teacher_avg_beginning_salary|floatformat:"0"|intcomma }}</p>
      {% if district %}<p class="metric-subtext">{{ district_name }}: ${{ district.teacher_avg_beginning_salary|floatformat:"0"|intcomma }}</p>{% endif %}
      {% if state %}<p class="metric-subtext">Statewide: ${{ state.teacher_avg_beginning_salary|floatformat:"0"|intcomma }}</p>{% endif %}
    </div>
    <div class="metric">
      <p class="metric-title">1-to-5 Years</p>
      <p class="metric-value">${{ stat.teacher_avg_1_to_5_year_salary|floatformat:"0"|intcomma }}</p>
      {% if district %}<p class="metric-subtext">{{ district_name }}: ${{ district.teacher_avg_1_to_5_year_salary|floatformat:"0"|intcomma }}</p>{% endif %}
      {% if state %}<p class="metric-subtext">Statewide: ${{ state.teacher_avg_1_to_5_year_salary|floatformat:"0"|intcomma }}</p>{% endif %}
    </div>
    <div class="metric">
      <p class="metric-title">6-to-10 Years</p>
      <p class="metric-value">${{ stat.teacher_avg_6_to_10_year_salary|floatformat:"0"|intcomma }}</p>
      {% if district %}<p class="metric-subtext">{{ district_name }}: ${{ district.teacher_avg_6_to_10_year_salary|floatformat:"0"|intcomma }}</p>{% endif %}
      {% if state %}<p class="metric-subtext">Statewide: ${{ state.teacher_avg_6_to_10_year_salary|floatformat:"0"|intcomma }}</p>{% endif %}
    </div>
    <div class="metric">
      <p class="metric-title">11-to-20 Years</p>
      <p class="metric-value">${{ stat.teacher_avg_11_to_20_year_salary|floatformat:"0"|intcomma }}</p>
      {% if district %}<p class="metric-subtext">{{ district_name }}: ${{ district.teacher_avg_11_to_20_year_salary|floatformat:"0"|intcomma }}</p>{% endif %}
      {% if state %}<p class="metric-subtext">Statewide: ${{ state.teacher_avg_11_to_20_year_salary|floatformat:"0"|intcomma }}</p>{% endif %}
    </div>
    <div class="metric">
      <p class="metric-title">20+ Years</p>
      <p class="metric-value">${{ stat.teacher_avg_20_plus_year_salary|floatformat:"0"|intcomma }}</p>
      {% if district %}<p class="metric-subtext">{{ district_name }}: ${{ district.teacher_avg_20_plus_year_salary|floatformat:"0"|intcomma }}</p>{% endif %}
      {% if state %}<p class="metric-subtext">Statewide: ${{ state.teacher_avg_20_plus_year_salary|floatformat:"0"|intcomma }}</p>{% endif %}
    </div>
  </section>
</section>
