<section class="card section">{% load i18n static %}
  <h2 class="page-section-subheader">The Latest Public Education Stories</h2>
  <div class="row">
    {% for i in "x"|rjust:"4" %}
      <div class="story-box-container">
        <div class="story-box">
          <div class="story-box__media">
            <img src="http://placehold.it/100/75" alt="Placeholder image">
          </div>
          <div class="story-box__body">
            <h3 class="story-box__header">Story Headline</h3>
            <p class="story-box__prose">{% lorem 20 w %}.</p>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</section>
