<div class="coronavirus-announcement">
  <p>
    <span style="font-weight: bold;">Because of the coronavirus pandemic, the state 
    <a href="https://tea.texas.gov/texas-schools/accountability/academic-accountability/performance-reporting/2020-accountability-rating-system">waived accountability ratings</a> 
    for the 2019-2020 school year.</span> All Texas public school districts and campuses received the label “Not Rated: Declared State of Disaster.” 
    Our schools explorer shows the accountability ratings from the <span style="font-weight: bold;">2018-2019</span> <span style="white-space: nowrap;">school year</span>.
  </p>
</div>
