<div class="coronavirus-announcement">
  <p><span style="font-weight: bold;">Due to the coronavirus pandemic, accountability ratings for the 2019-2020 school year were 
  <a href="https://tea.texas.gov/texas-schools/accountability/academic-accountability/performance-reporting/2020-accountability-rating-system">waived</a>.</span> 
  All Texas districts and campuses received the label <span style="font-style: italic;">Not Rated: Declared State of Disaster</span>.
  Our schools explorer shows the A-F ratings from the 2018-2019 school year.</p>
</div>
