{% extends 'standard.html' %}{% load humanize i18n static %}

{% block title %}{{ campus.name }}{% endblock title %}

{% block breadcrumbs %}
<nav class="breadcrumbs">
  <a class="breadcrumbs__item" href="{% url 'landing' %}">{% trans "Home" %}</a> » <a class="breadcrumbs__item" href="{% url 'districts:list' %}">{% trans "School Districts" %}</a> » <a class="breadcrumbs__item" href="{{ campus.district.get_absolute_url }}">{{ campus.district.name }}</a>
</nav>
{% endblock breadcrumbs %}

{% block content %}

<section class="row section">
<div class="intro-block">
<header class="page-header">
  <h1 class="page-headline">{{ campus.name }}</h1>
  <ul>
    <li class="page-subtext">{{ campus.city|title }}, {{ campus.state }} | <a href="{{ campus.district.get_absolute_url }}">{{ campus.district.name }}</a></li>
    <li class="page-subtext">{{ campus.get_school_type_display }}</li>
    <li class="page-subtext">{{ campus.get_low_grade_display }} - {{ campus.get_high_grade_display }}</li>
  </ul>
</header>

{% include "includes/intro_metrics.html" with stat=stat state=state only %}

<section class="page-prose">
  {% lorem 1 p %}
</section>

</div>
<div class="contact-block">
<div class="map" id="map-campus"></div>

<section class="card">
  <h2 class="card-header">Contact information</h2>
  {% if campus.website %}
  <h3 class="card-title">Website</h3>
  <p class="card-text"><a href="{{ campus.website }}">{{ campus.website }}</a></p>
  {% endif %}
  <h3 class="card-title">{% trans "Address" %}</h3>
  <address class="card-address">
    {{ campus.street|title }}<br>
    {{ campus.location }} {{ campus.zip_code }}
  </address>
  <h3 class="card-title">{% trans "Phone number" %}</h3>
  <p class="card-text"><a href="tel://{{ campus.phone_number }}">{{ campus.phone_number }}</a></p>
  {% if campus.principals.all %}
  <h3 class="card-title">
  {% blocktrans count numberOfPrincipals=campus.principals.count %}
    Principal
  {%  plural %}
    Principals
  {% endblocktrans %}
  </h3>
  <ul class="card-list">
  {% for principal in campus.principals.all %}
    <li class="card-list-item">{{ principal.name }}</li>
    <li class="card-list-item"><a href="mailto:{{ principal.email }}">{{ principal.email }}</a></li>
    <li class="card-list-item"><a href="tel://{{ principal.phone_number }}">{{ principal.phone_number }}</a></li>
  {% endfor %}
  </ul>
  {% endif %}
</section>
</div>
</section>

<div class="ad-slot ad-slot-banner">
  <img src="https://placehold.it/728x90">
</div>

<section class="row">

<nav class="col-3">
  <ul class="metrics-jumper">
    <li class="metrics-jumper__item btn btn-dark">Demographics<span class="metrics-jumper__arrow"></li></span>
    <li class="metrics-jumper__item btn btn-dark">Academics</li>
    <li class="metrics-jumper__item btn btn-dark">Staff</li>
  </ul>
</nav>

<section class="col-9">

<section class="section">
<h2 class="page-section-header">Demographics</h2>

<div class="page-prose">
  <p>{% lorem 25 w %}.</p>
</div>

{% include "includes/demographic_metrics.html" with stat=stat state=state only %}

</section>

<section class="section">
<h2 class="page-section-header">Academics</h2>

<div class="page-prose">
  <p>{% lorem 25 w %}.</p>
</div>

</section>

<section class="section">
<h2 class="page-section-header">Staff</h2>

<div class="page-prose">
  <p>{% lorem 25 w %}.</p>
</div>

{% include "includes/staff_metrics.html" with stat=stat state=state district_name=campus.district.name district=district only %}

</section>
</section>

{% endblock content %}

{% block extra_script %}
<script>COORDS = {{ campus.coordinates.geojson|safe }};</script>
<script src="//maps.googleapis.com/maps/api/js?key=AIzaSyBrkB4T_tbnnFklJsJ_1jk8JwEpzhOYyKc"></script>
<script src="{% static 'scripts/campus.js' %}"></script>
{% endblock extra_script %}
