{% load humanize %}
<table class="dv-table">
  <h3 class="page-section-subheader">Outcome of 8th grade class by gender, {{ latest_cohort.year.start_year }}</h3>
  <thead>
    <tr>
      <th scope="column">Gender</th>
      <th scope="column" class="numeric-cell">Size of class</th>
      <th scope="column" class="numeric-cell">Graduated high school</th>
      <th scope="column" class="numeric-cell">Enrolled in college</th>
      <th scope="column" class="numeric-cell">Graduated from college</th>
    </tr>
  </thead>
  <tbody>
    <tr>{% with cohort=data.female %}
      <th scope="row">Female</th>
      <td class="numeric-cell">{{ cohort.enrolled_8th|intcomma|default:"N/A" }}</td>
      <td class="numeric-cell">{{ cohort.graduated|intcomma|default:"N/A" }}</td>
      <td class="numeric-cell">{{ cohort.total_enrolled|intcomma|default:"N/A" }}</td>
      <td class="numeric-cell">{{ cohort.total_degrees|intcomma|default:"N/A" }}</td>
    {% endwith %}</tr>
    <tr>{% with cohort=data.male %}
      <th scope="row">Male</th>
      <td class="numeric-cell">{{ cohort.enrolled_8th|intcomma|default:"N/A" }}</td>
      <td class="numeric-cell">{{ cohort.graduated|intcomma|default:"N/A" }}</td>
      <td class="numeric-cell">{{ cohort.total_enrolled|intcomma|default:"N/A" }}</td>
      <td class="numeric-cell">{{ cohort.total_degrees|intcomma|default:"N/A" }}</td>
    {% endwith %}</tr>
    <tr class="highlight-row">{% with cohort=latest_cohort %}
      <th scope="row">Total</th>
      <td class="numeric-cell">{{ cohort.enrolled_8th|intcomma|default:"N/A" }}</td>
      <td class="numeric-cell">{{ cohort.graduated|intcomma|default:"N/A" }}</td>
      <td class="numeric-cell">{{ cohort.total_enrolled|intcomma|default:"N/A" }}</td>
      <td class="numeric-cell">{{ cohort.total_degrees|intcomma|default:"N/A" }}</td>
    {% endwith %}</tr>
  </tbody>
</table>
